<div class="link-wrapper">
    <div id="links">
      <ul>
        <li><a href="#test">Test</a></li>
        <li><a href="#test">Test</a></li>
        <li><a href="#test">Test</a></li>
        <li><a href="#test">Test</a></li>
      </ul>
    </div>
  </div>
  <style>
    .link-wrapper {
      margin: 0px -15px;
      background-color: #f0f0f0;
      border-bottom: 1px solid #999;
    }
    #links {
      max-width: 978px;
      margin: auto;
    }
    .link-wrapper ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
      }
      .link-wrapper ul li {
        display: inline-block;
        padding: 8px 30px;
      }
      #links ul li a,  #links ul li a:active,  #links ul li a:visited {
          color: #fff;
      }
      #links ul li a, #links ul li a:active, #links ul li a:visited {
        color: #333;
      }
  </style>
