<script language="javascript">
$(document).ready(function(){
  var gitAccount = "{{gitAccount}}";
  var gitRepo = "{{gitRepo}}";
  var gitFile = "{{gitFile}}";
  var gitCommit = "{{gitCommit}}";
  var regionTag = "{{regionTag}}";
  var lang="{{lang}}";
  $.ajax({
    url: "https://cdn.rawgit.com/{{gitAccount}}/{{gitRepo}}/{{gitCommit}}/{{gitFile}}",
    context: document.body,
    dataType: "text",
  }).done(function(data) {
    $("#testSnippet").html(data);
    $("#testSnippet").addClass("lang-{{lang}}");
    prettyPrint();
  });
});
</script>
<pre class="notranslate prettyprint lang-{{lang}}" id="testSnippet"></pre>
