{% comment %}<!--
Sidebar widget - by johndylan@google.com

Posts links to up to 2 related videos, 5 samples, and 5 related articles in a right-hand sidebar.

Use variables videoid1, articleurl1, and articletitle1 before including on your page, and away
you go. You can specify up to videoid2, articleurl5, and articletitle5.

In addition, there is a "wildcard" section that you can populate with a custom header via
misc_section_heading and a combination of "miscurl1/misctitle1" pairs

Note: videoid1 = The ID part of a YouTube URL (what comes after "v=" in the URL when watching).

Example use (put this code right underneath the title of your doc):

{% capture videoid1 %}22n06z0rq4c{% endcapture %}
{% capture videoid2 %}9rlMOb93HDE{% endcapture %}
{% capture topicurl1 %}https://developers.google.com/appengine/articles/deferred{% endcapture %}
{% capture topictitle1 %}Background work with the deferred library{% endcapture %}
{% capture topicurl2 %}http://www.google.com/events/io/2010/sessions/high-throughput-data-pipelines-appengine.html{% endcapture %}
{% capture topictitle2 %}Building high-throughput data pipelines with Google App Engine{% endcapture %}
{% capture topicurl3 %}https://code.google.com/p/appengine-pipeline/{% endcapture %}
{% capture topictitle3 %}Google App Engine Pipeline API{% endcapture %}
{% capture sampleurl3 %}https://github.com/GoogleCloudPlatform/appengine-last-across-the-finish-line-python{% endcapture %}
{% capture sampletitle3 %}Last Across the Finish Line (Python){% endcapture %}
{% capture sotag1 %}google-app-engine{% endcapture %}
{% capture sotag2 %}task-queue{% endcapture %}
{% include sidebar.html %}

-->
{% endcomment %}

{% comment %} Check for the existance of tags that the sidebar cares about. {% endcomment %}
{% if sotag1 or sotag2 or sotag3 or sotag4 or sotag5 %}
  {% capture thereAreSOTags %}1{% endcapture %}
{% endif %}
{% if topicurl1 or topicurl2 or topicurl3 or topicurl4 or topicurl5 %}
  {% capture thereAreTopics %}1{% endcapture %}
{% endif %}
{% if sampleurl1 or sampleurl2 or sampleurl3 or sampleurl4 or sampleurl5 %}
  {% capture thereAreSamples %}1{% endcapture %}
{% endif %}
{% if miscurl1 or miscurl2 or miscurl3 or miscurl4 or miscurl5 %}
  {% capture thereAreMiscURLs %}1{% endcapture %}
{% endif %}
{% if feedurl and feedheading %}
  {% capture thereIsAFeed %}1{% endcapture %}
{% endif %}
{% if videoid1 or videoid2 %}
  {% capture thereAreVideos %}1{% endcapture %}
{% endif %}



{% if bigvid %}
<iframe id="related-bigvid"
  src="//www.youtube.com/embed/{{bigvid}}?autohide=1&amp;showinfo=0"
  frameborder="0" allowfullscreen>
</iframe>
{% endif %}


{% if thereAreTopics or thereAreSamples or thereAreMiscURLs or thereIsAFeed or thereAreVideos or thereAreSOTags %}
  {% comment %} OK, populate the 240px container {% endcomment %}
<div id="related-sidebar">

  {% if thereAreTopics or thereAreSamples or thereAreMiscURLs or thereIsAFeed or thereAreVideos %}
    {% comment %} This stuff (unlike the BigVid, notes, and SO) goes in the "big grey column" {% endcomment %}
  <nav id="related-info">

    {% if thereAreVideos %}
      {% comment %} There are videos, populate a "Related videos" section! {% endcomment %}

      <header>Related videos</header>

      {% if videoid1 %}
        <iframe src="//www.youtube.com/embed/{{videoid1}}?autohide=1"
          frameborder="0" allowfullscreen
          data-category="Sidebar"
          data-action="Related video"
          data-label="{{ videoid1|escapejs }}">
        </iframe>
      {% endif %}

      {% if videoid2 %}
        <iframe src="//www.youtube.com/embed/{{videoid2}}?autohide=1"
          frameborder="0" allowfullscreen
          data-category="Sidebar"
          data-action="Related video"
          data-label="{{ videoid2|escapejs }}">
        </iframe>
      {% endif %}

    {% endif %}{% comment %} end of video section {% endcomment %}

  {% if thereAreTopics %}
    {% comment %} There are topics, populate a "Related topics" section! {% endcomment %}

    <header>Related topics</header>

    <ul>
      {% if topicurl1 and topictitle1 %}
        <li>
          <a href="{{topicurl1}}"
            data-category="Sidebar"
            data-action="Related topic"
            data-label="{{ topictitle1|escapejs }}">
            {{topictitle1}}
          </a>
        </li>
      {% endif %}
      {% if topicurl2 and topictitle2 %}
        <li>
          <a href="{{topicurl2}}"
            data-category="Sidebar"
            data-action="Related topic"
            data-label="{{ topictitle2|escapejs }}">
            {{topictitle2}}
          </a>
        </li>
      {% endif %}
      {% if topicurl3 and topictitle3 %}
        <li>
          <a href="{{topicurl3}}"
            data-category="Sidebar"
            data-action="Related topic"
            data-label="{{ topictitle3|escapejs }}">
            {{topictitle3}}
          </a>
        </li>
      {% endif %}
      {% if topicurl4 and topictitle4 %}
        <li>
          <a href="{{topicurl4}}"
            data-category="Sidebar"
            data-action="Related topic"
            data-label="{{ topictitle4|escapejs }}">
            {{topictitle4}}
          </a>
        </li>
      {% endif %}
      {% if topicurl5 and topictitle5 %}
        <li>
          <a href="{{topicurl5}}"
            data-category="Sidebar"
            data-action="Related topic"
            data-label="{{ topictitle5|escapejs }}">
            {{topictitle5}}
          </a>
        </li>
      {% endif %}
    </ul>
  {% endif %}{% comment %} end of topics section {% endcomment %}

  {% if thereAreSamples %}
    {% comment %} There are samples, populate a "Related samples" section! {% endcomment %}
    <header>Related samples</header>

    <ul>
      {% if sampleurl1 and sampletitle1 %}
        <li>
          <a href="{{sampleurl1}}"
            data-category="Sidebar"
            data-action="Related sample"
            data-label="{{ sampletitle1|escapejs }}">
            {{sampletitle1}}
          </a>
        </li>
      {% endif %}
      {% if sampleurl2 and sampletitle2 %}
        <li>
          <a href="{{sampleurl2}}"
            data-category="Sidebar"
            data-action="Related sample"
            data-label="{{ sampletitle2|escapejs }}">
            {{sampletitle2}}
          </a>
        </li>
      {% endif %}
      {% if sampleurl3 and sampletitle3 %}
        <li>
          <a href="{{sampleurl3}}"
            data-category="Sidebar"
            data-action="Related sample"
            data-label="{{ sampletitle3|escapejs }}">
            {{sampletitle3}}
          </a>
        </li>
      {% endif %}
      {% if sampleurl4 and sampletitle4 %}
        <li>
          <a href="{{sampleurl4}}"
            data-category="Sidebar"
            data-action="Related sample"
            data-label="{{ sampletitle4|escapejs }}">
            {{sampletitle4}}
          </a>
        </li>
      {% endif %}
      {% if sampleurl5 and sampletitle5 %}
        <li>
          <a href="{{sampleurl5}}"
            data-category="Sidebar"
            data-action="Related sample"
            data-label="{{ sampletitle5|escapejs }}">
            {{sampletitle5}}
          </a>
        </li>
      {% endif %}
    </ul>{% endif %}{% comment %} end of samples section {% endcomment %}

  {% if thereAreMiscURLs %}
    {% comment %} There are misc links, populate a "misc" section! But first, check that we have a heading {% endcomment %}

    {% if misc_section_heading %}
      {% comment %} OK, we have a heading and some links, let's go. {% endcomment %}
      <header>{{ misc_section_heading }}</header>

      <ul>
        {% if miscurl1 and misctitle1 %}
          <li><a href="{{miscurl1}}">{{misctitle1}}</a></li>
        {% endif %}
        {% if miscurl2 and misctitle2 %}
          <li><a href="{{miscurl2}}">{{misctitle2}}</a></li>
        {% endif %}
        {% if miscurl3 and misctitle3 %}
          <li><a href="{{miscurl3}}">{{misctitle3}}</a></li>
        {% endif %}
        {% if miscurl4 and misctitle4 %}
          <li><a href="{{miscurl4}}">{{misctitle4}}</a></li>
        {% endif %}
        {% if miscurl5 and misctitle5 %}
          <li><a href="{{miscurl5}}">{{misctitle5}}</a></li>
        {% endif %}
      </ul>
    {% endif %}{% comment %} end of check for "title" which ensures misc links are labeled w/a header {% endcomment %}
  {% endif %}{% comment %} end of misc section {% endcomment %}

  {% if thereIsAFeed %}{% comment %} Populate a feed section {% endcomment %}
    <header>{{ feedheading }}</header>

    <div class="feed hfeed" data-limit="5">
      <a href="{{ feedurl }}"></a>
      <article class="hentry">
          <a class="link"
            data-category="Sidebar"
            data-action="Feed item click">
            <header class="entry-title"></header>
          </a>
        </li>
      </article>
    </div>
  {% endif %}{% comment %} end of feed section {% endcomment %}
  </nav>{% endif %}{% comment %} end of: if thereAreTopics or thereAreSamples or thereAreMiscURLs or thereIsAFeed or thereAreVideos {% endcomment %}

  {% comment %} ------------- End: "big grey column"------------------------------------ {% endcomment %}


  {% if thereAreSOTags %}
    {% comment %} There are Stack Overflow tags, populate a "Stack Overflow FAQ" section {% endcomment %}

    {% comment %} Concatenate all the tags {% endcomment %}
    {% capture tags %}{%if sotag1%}{{sotag1}}{%endif%}{%if sotag2%}+{{sotag2}}{%endif%}{%if sotag3%}+{{sotag3}}{%endif%}{%if sotag4%}+{{sotag4}}{%endif%}{%if sotag5%}+{{sotag5}}{%endif%}{% endcapture %}

    <div id="related-stackoverflow">
      <a href="http://stackoverflow.com/questions/tagged/{{ tags }}"><img
        src="/cloud/images/stack_overflow_questions.png" width="240" height="53"
        title="Stack Overflow Questions" border="0"></a>

        <div class="feed hfeed" data-limit="5">
          <a href="http://stackoverflow.com/feeds/tag?sort=votes&amp;tagnames={{ tags|urlencode }}"></a>
          <article class="hentry">
              <a class="link"
                data-category="Sidebar"
                data-action="Stack Overflow question click">
                <header class="entry-title"></header>
              </a>
          </article>
        </div>
        <div class="more">
          <a href="http://stackoverflow.com/questions/tagged/{{ tags }}?sort=votes"
            data-category="Sidebar"
            data-action="Stack Overflow See more link">
            See more...
          </a>
        </div>
  </div>
  {% endif %}{% comment %} end of Stack Overflow section {% endcomment %}

</div>
{% endif %}{% comment %} end of: if thereAreTopics or thereAreSamples or thereAreMiscURLs or thereIsAFeed or thereAreVideos or thereAreSOTags, aka the 240px container content {% endcomment %}

{% comment %} Include the sidebar CSS file: {% endcomment %}
<link rel="stylesheet" href="/css/sidebar.css" type="text/css" />

{% comment %} Now, "unset" all variables so that this can be included multiple times for notes {% endcomment %}
{% capture tags %}{% endcapture %}
{% capture warning %}{% endcapture %}
{% capture important %}{% endcapture %}
{% capture caution %}{% endcapture %}
{% capture thereAreSOTags %}{% endcapture %}
{% capture sotag1 %}{% endcapture %}
{% capture sotag2 %}{% endcapture %}
{% capture sotag3 %}{% endcapture %}
{% capture sotag4 %}{% endcapture %}
{% capture sotag5 %}{% endcapture %}
{% capture thereIsAFeed %}{% endcapture %}
{% capture feedurl %}{% endcapture %}
{% capture feedheading %}{% endcapture %}
{% capture thereAreMiscURLs %}{% endcapture %}
{% capture misc_section_heading %}{% endcapture %}
{% capture miscurl1 %}{% endcapture %}
{% capture miscurl2 %}{% endcapture %}
{% capture miscurl3 %}{% endcapture %}
{% capture miscurl4 %}{% endcapture %}
{% capture miscurl5 %}{% endcapture %}
{% capture misctitle1 %}{% endcapture %}
{% capture misctitle2 %}{% endcapture %}
{% capture misctitle3 %}{% endcapture %}
{% capture misctitle4 %}{% endcapture %}
{% capture misctitle5 %}{% endcapture %}
{% capture thereAreSamples %}{% endcapture %}
{% capture sampleurl1 %}{% endcapture %}
{% capture sampleurl2 %}{% endcapture %}
{% capture sampleurl3 %}{% endcapture %}
{% capture sampleurl4 %}{% endcapture %}
{% capture sampleurl5 %}{% endcapture %}
{% capture sampletitle1 %}{% endcapture %}
{% capture sampletitle2 %}{% endcapture %}
{% capture sampletitle3 %}{% endcapture %}
{% capture sampletitle4 %}{% endcapture %}
{% capture sampletitle5 %}{% endcapture %}
{% capture thereAreTopics %}{% endcapture %}
{% capture topicurl1 %}{% endcapture %}
{% capture topicurl2 %}{% endcapture %}
{% capture topicurl3 %}{% endcapture %}
{% capture topicurl4 %}{% endcapture %}
{% capture topicurl5 %}{% endcapture %}
{% capture topictitle1 %}{% endcapture %}
{% capture topictitle2 %}{% endcapture %}
{% capture topictitle3 %}{% endcapture %}
{% capture topictitle4 %}{% endcapture %}
{% capture topictitle5 %}{% endcapture %}
{% capture thereAreVideos %}{% endcapture %}
{% capture videoid1 %}{% endcapture %}
{% capture videoid2 %}{% endcapture %}
{% capture bigvid %}{% endcapture %}
