<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Translate API - Google Cloud Platform</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/images/gcp-favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!--[if lt IE 9]>
    <script src="/js/html5.js"></script>
    <![endif]-->

    <meta name="google-site-verification" content="8dOEM3Xenm6yaBc83y2WKgqQG0iHI7Ph6Rl_YLIZLQ8" />
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">

    <!-- GSAP animation frameworks -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//www.gstatic.com/external_hosted/gsap/TweenMax.min.js"></script>
    <script src="//www.gstatic.com/external_hosted/gsap/TimelineMax.min.js"></script>
    <script src="/js/floodlight.js"></script>

    <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700" rel="stylesheet">
    <link href="//www.google.com/css/maia.experimental.css" rel="stylesheet">
    <link href="/css/maia-cloud.css" rel="stylesheet"/>
    <link href="/css/default.css" rel="stylesheet">
  </head>
  <body>
  <div id="maia-header">
    <div class="maia-aux">
      <h1><a href="/"><img src="/images/gcp-logo.png" alt="Cloud Platform" data-retina="383x48"></a></h1>

<div class="search-container">
  <form action="/search" class="maia-search">
    <input type="text" placeholder="Search this site" name="q">
    <button class="maia-button" type="submit" data-g-event="Maia: Button" data-g-action="Maia: Primary – Header" data-g-label="Search">
      <span class="maia-search-icon">Search this site</span>
    </button>
  </form>
  <div class="cloud-social">

    <div class="cloud-signed-in">
      <a href="https://console.developers.google.com/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Go to my console">Go to Cloud Console</a>
    </div>

  </div>

</div>

</div>

    </div>
  </div>
  <div id="maia-nav-x" class="maia-nav">
    <div class="maia-aux">
   <div class="cp-cta">
     <a class="cp-track maia-button maia-button-secondary white-button" href="/contact/">Contact Sales</a>
     
       <a class="cp-track maia-button blue-button" href="https://console.developers.google.com?getstarted=https://cloud.google.com" style="color: #ffffff;">Try it now</a>
     
   </div>
      <ul>
        <li >
            <a href="/why-google/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Why Google">
            Why Google
            </a>
        </li>
        <li  class="active dropdown"  id="main-nav-product-dropdown" class="dropdown">
            <a href="/products/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Products">
            Products
            </a>
        </li>
        <li >
            <a href="/solutions/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Solutions">
            Solutions
            </a>
        </li>
        <li >
            <a href="/customers/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Customers">
            Customers
            </a>
        </li>
        <li >
            <a href="/developers/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Developers">
          Developers
            </a>
        </li>
        <li >
            <a href="/support/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Support">
            Support
            </a>
        </li>
        <li >
            <a href="/partners/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Partners">
            Partners
            </a>
        </li>
      </ul>
    </div>
  </div>

<!-- Products subnav -->
<div id="maia-nav-x" class="maia-nav products-nav">
  <div class="maia-aux">
    <div class="products-nav-dropdown maia-cols">

      <div id="compute-dropdown" class="products-column maia-col-2">
        <span class="product-list-title">Compute</span>
        <div class="dropdown-item-container">
          <a href="/products/compute-engine/">
            <span class="product-name">Compute Engine</span>
          </a>
        </div>
        <div class="dropdown-item-container">
          <a href="/products/app-engine/">
            <span class="product-name">App Engine</span>
          </a>
        </div>
      </div>

      <div id="storage-dropdown" class="products-column maia-col-2">
        <span class="product-list-title">Storage</span>
        <div class="dropdown-item-container">
          <a href="/products/cloud-sql/">
            <span class="product-name">Cloud SQL</span>
          </a>
        </div>
        <div class="dropdown-item-container">
          <a href="/products/cloud-storage/">
            <span class="product-name">Cloud Storage</span>
          </a>
        </div>
        <div class="dropdown-item-container">
          <a href="/products/cloud-datastore/">
            <span class="product-name">Cloud Datastore</span>
          </a>
        </div>
      </div>

      <div id="big-data-dropdown" class="products-column maia-col-2">
        <span class="product-list-title">Big Data</span>
        <div class="dropdown-item-container">
          <a href="/products/bigquery/">
            <span class="product-name">BigQuery</span>
          </a>
        </div>
      </div>

      <div id="services-dropdown" class="products-column maia-col-2">
        <span class="product-list-title">Services</span>
        <div class="dropdown-item-container">
          <a href="/products/cloud-dns/">
            <span class="product-name">Cloud DNS</span>
          </a>
        </div>
        <div class="dropdown-item-container">
          <a href="/products/cloud-endpoints/">
            <span class="product-name">Cloud Endpoints</span>
          </a>
        </div>
        <div class="dropdown-item-container">
          <a href="/products/translate-api/">
            <span class="product-name">Translate API</span>
          </a>
        </div>
        <div class="dropdown-item-container">
          <a href="/products/prediction-api/">
            <span class="product-name">Prediction API</span>
          </a>
        </div>
        <div class="dropdown-item-container">
          <a href="/products/cloud-pubsub/">
            <span class="product-name">Cloud Pub/Sub</span>
          </a>
        </div>
      </div>

      <div id="management-dropdown" class="products-column maia-col-2">
        <span class="product-list-title">Management</span>
        <div class="dropdown-item-container">
          <span class="product-name"><a href="/products/cloud-deployment-manager/">Cloud Deployment Manager</a></span>
        </div>
      </div>

      <div id="pricing-dropdown" class="products-column maia-col-2">
        <span class="product-list-title">Pricing</span>
        <div class="dropdown-item-container">
          <span class="product-name"><a href="/products/pricing/">Overview</a></span>
        </div>
        <div class="dropdown-item-container">
          <span class="product-name"><a href="/products/calculator/">Calculator</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-wrapper product translate-api">
  <div class="maia-stage page-header secondary scroll-section" data-section-label="Translate API">
    <div id="intro" class="maia-aux page-header-inner">

      <div class="page-header-inner-inner">
        <h1 class="headline">
          <span class="app-icon translate-api"><!-- --></span>
          <span>Translate API</span>
        </h1>
        <p class="subheadline">
        Quickly and dynamically translate between thousands of available language pairs within your app, integrating with Google Translate.
        </p>
        
        <a href="https://console.developers.google.com?getstarted=https://cloud.google.com/products/translate-api" class="maia-button try-it cp-track" id="try-body" event="autotrack-data-g" data-g-event="Products: Translate API" data-g-action="Try It Now" data-g-label="Translate API Canvas: Click">Try it now</a>        
                
      </div>
    </div>
  </div>
  <div id="maia-main">
    
    <div id="demo" class="generic-section scroll-section" data-section-label="Product Demo" data-ng-cloak>
      <div class="maia-cols">
        <div class="maia-col-8">
          <h1 class="headline">
            How Google Translate API Works
          </h1>
          <p>
            Google Translate API provides a simple programmatic interface for translating an arbitrary string into any supported language.  Take a look below and see Google Translate API in action:
          </p>
        </div>
      </div>
      
<div class="demo-container">
  <div class="translate-api-demo" data-ng-controller="TranslateApiDemoController as ctrl">
    <div class="field phrase">
      <label for="phrase">Enter a word or phrase:</label>
      <input id="phrase" type="text" data-ng-model="ctrl.phrase">
    </div>
    <div class="field trans-from">
      <label for="trans-from">Translate from:</label>
      <select id="trans-from" data-ng-model="ctrl.from" data-ng-options="s.value as s.name for s in ctrl.sources">

      </select>
    </div>
    <div class="field trans-to">
      <label for="trans-to">Translate to:</label>
      <select id="trans-to" data-ng-model="ctrl.to" data-ng-options="s.value as s.name for s in ctrl.sources">

      </select>
    </div>
    <div class="field translate">
      <button class="maia-button" data-ng-click="ctrl.translate()">Translate</button>
    </div>

    <div class="results" data-ng-show="ctrl.apiRequest || ctrl.apiResponse">
      <label>API Request:</label>
      <div class="request">
        <pre data-ng-bind="ctrl.apiRequest"></pre>
      </div>
      <div class="response">
        <pre data-ng-bind="ctrl.apiResponse" class="prettify"></pre>
      </div>
    </div>

  </div>
</div>

    </div>
    
    <div id="features" class="generic-section scroll-section" data-section-label="Features">
      <div class="maia-cols">
        <div class="header">
          <h2 class="headline maia-col-8">Features</h2>
          <p class="subheadline maia-col-8">
          
          </p>
        </div>
      </div>
      <div class="maia-cols">

        <div class="maia-col-4 inner-block">
          <h3 class="headline"><img class="inline-icon" src="/images/products/icons/translate-1.png" alt="Dynamic">Dynamically access languages</h3>
          <p>Google Translate API supports dozens of <a href="https://developers.google.com/translate/v2/using_rest#language-params" target="_blank" event="autotrack-data-g" data-g-event="Products: Translate API" data-g-action="Features" data-g-label="Languages">languages</a>. Detect a document’s language and translate it using a <a href="https://developers.google.com/translate/v2/getting_started#REST" target="_blank" event="autotrack-data-g" data-g-event="Products: Translate API" data-g-action="Features" data-g-label="RESTful API">RESTful API</a>.</p>
        </div>

        <div class="maia-col-4 inner-block">
          <h3 class="headline"><img class="inline-icon" src="/images/products/icons/translate-2.png" alt="Google API">Accessible with Google API</h3>
          <p>The Translate API is accessible via the standard Google API. See <a href="https://developers.google.com/translate/v2/libraries" target="_blank" event="autotrack-data-g" data-g-event="Products: Translate API" data-g-action="Features" data-g-label="Sample code and libraries">sample code and libraries</a> for ten different programming languages including Python, Objective C and Ruby.</p>
        </div>

        <div class="maia-col-4 inner-block">
          <h3 class="headline"><img class="inline-icon" src="/images/products/icons/translate-3.png" alt="Affordable">Affordable, easy pricing</h3>
          <p>Translate API pricing is based on millions of characters sent. Our <a href="https://developers.google.com/translate/v2/pricing" target="_blank" event="autotrack-data-g" data-g-event="Products: Translate API" data-g-action="Features" data-g-label="Pricing Structure">pricing</a> schedule is easy to understand and very affordable.</p>
        </div>
      </div>
    </div>
    
    <div id="pricing-calc" class="generic-section scroll-section" data-section-label="Pricing calculator">
      <div class="header">
        <div class="maia-cols">
          <h2 class="headline maia-col-8">Pricing calculator</h2>
          <p class="subheadline maia-col-8">
          The Pricing Calculator provides you with a simple tool that can help you get a sense of what an application running on Google Cloud Platform could cost.

<br /><br />
<a href="../calculator" class="read-more">Get a custom quote</a>          
          </p>
        </div>
      </div>
    </div>
    
    <div id="pricing" class="generic-section scroll-section" data-section-label="Pricing">
      <div class="header">
        <div class="maia-cols">
          <h2 class="headline maia-col-8">Pricing</h2>
          <p class="subheadline maia-col-8">
                    
          </p>
        </div>
      </div>

      <p>Google Translate API pricing is based on usage. Translation usage is calculated in millions of characters (M), where 1 M = 10<sup>6</sup> characters. For more information, see the <a href="https://developers.google.com/translate/v2/faq#pricing" target="_blank" event="autotrack-data-g" data-g-event="Products: Translate API" data-g-action="Pricing" data-g-label="Pricing FAQ">Pricing FAQ</a>.</p>

<p class="note"><strong>Important:</strong> Google Translate API v2 requires billing information for all accounts before you can start using the service. See instructions below on how to enable billing.</p>

<ul>
  <li><strong>Usage fees:</strong>
    <ul>
      <li><strong>Translation:</strong>
        <ul>
          <li>$20 per <strong>1 M characters</strong> of text, where the charges are adjusted in proportion to the number of characters actually provided. For example, if you were to translate 500K characters, you would be billed $10.</li>
        </ul>
      </li>
      <li><strong>Language Detection:</strong>
        <ul>
          <li>$20 per <strong>1 M characters</strong> of text, where the charges are adjusted in proportion to the number of characters actually provided.</li>
        </ul>
      </li>
    </ul>
  </li>
  <li><strong>Usage limits:</strong>
    <ul>
      <li>Google Translate API has a default limit of 2 M chars/day. You can increase this limit up to 50 M chars/day in the Cloud Console by following the instructions below.</li>

      <li> If you need to translate more than 50 M chars/day, please <a href="https://docs.google.com/a/google.com/spreadsheet/viewform?hl=en_US&amp;formkey=dDVVUjBjb0phRkNxZVNSV3ZQNXVwWVE6MQ" event="autotrack-data-g" data-g-event="Products: Translate API" data-g-action="Pricing" data-g-label="Contact Us">contact us</a></li>
    </ul>
  </li>
</ul>

<p>To enable billing for your project, do the following:</p>
<ol>
  <li>Go to the <a href="https://console.developers.google.com" event="autotrack-data-g" data-g-event="Products: Translate API" data-g-action="Pricing" data-g-label="Google Cloud Console">Google Cloud Console</a>.</li>
  <li>Select a project.</li>
  <li>In the sidebar on the left, select <b>Billing</b>.</li>
  <li>At the top of the page, select <b>Enable Billing</b>.</li>
  <li>Fill in the form.</li>
</ol>

<p>To view or change usage limits for your project, or to request an increase to your total limit,
do the following:</p>
<ol>
  <li>Go to the <a href="https://console.developers.google.com" event="autotrack-data-g" data-g-event="Products: Translate API" data-g-action="Pricing" data-g-label="Google Cloud Console">Google Cloud Console</a>.</li>
  <li>Select a project.</li>
  <li>In the sidebar on the left, select <b>APIs &amp; auth</b>, then select an API.</li>
  <li>On the API's info page, select the <b>Quota</b> link near the API name.</li>
</ol>
    </div>
    <div id="documentation" class="generic-section scroll-section last" data-section-label="Documentation & Resources">
      <div class="header">
        <div class="maia-cols">      
          <h2 class="headline maia-col-8">Documentation & Resources</h2>
          <p class="subheadline maia-col-8">
          Learn how to access the Translate API RESTful interface to add translation capabilities to your applications.
          </p>
        </div>
      </div>
      <div class="maia-cols">
        <div class="inner-block maia-col-8 resources">
          <div class="resources-inner">
            <h3 class="headline"><img class="inline-icon" src="/images/products/resources-icon.png" alt="Resources" /><span class="resources-title">Resources </span><span><a href="../../developers" class="bounce-link" event="autotrack-data-g" data-g-event="Products: Translate API" data-g-action="Resources" data-g-label="View All Resources">View all resources</a></span>
</h3>

            <ul>
            <li class="resource-block">
            <h3 class="headline"><a href="https://developers.google.com/translate/v2/using_rest" event="autotrack-data-g" data-g-event="Products: Translate API" data-g-action="Resources" data-g-label="Using REST">Using REST</a></h3>
            <div class="details"><p>This document is intended for developers who want to write applications that can interact with the Google Translate API. With Google Translate, you can programmatically translate text in your webpages or apps.</p></div>
          </li>
            </ul>
          </div>
        </div>
      
        <div class="inner-block maia-col-4 docs">
          <img class="inline-icon" src="/images/products/documentation-icon.png" alt="Documentation" />
          <h3 class="headline"> Translate API Documentation</h3>
          <ul>
            <li><a href="https://developers.google.com/translate/v2/getting_started" class="link-out" event="autotrack-data-g" data-g-event="Products: Translate API" data-g-action="Translate API Documentation" data-g-label="Getting Started">Getting Started</a></li>
<li><a href="https://developers.google.com/translate/v2/libraries" class="link-out" event="autotrack-data-g" data-g-event="Products: Translate API" data-g-action="Translate API Documentation" data-g-label="Sample code">Sample code</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- Scripts to include both on Goro + Devsite -->
  <script type="text/javascript">
   window.___gcfg = {
     lang: ''
   };
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  </script>

  <!-- GTM implementation -->

  <!-- Start dataLayer -->
    <script>
      dataLayer = [{
        'country': '',
        'region': '',
        'language': 'en'
      }];
    </script>
  <!-- End dataLayer -->

  <!-- Start Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5CVQBG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5CVQBG');</script>
  <!-- End Google Tag Manager -->

  <!-- Global JS scripts to load; path will depend on whether we're on devsite or Goro -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>

  <script src="/js/base.min.js"></script>

<!-- Secondary right-side scroll-nav -->
<script>
  new lfl.ui.ScrollNav({});
  new lfl.cloud.GlobalProductMenu();
</script>

<script>new cloud.SocialFeeds(document.getElementById('feeds'));</script>



  <div id="maia-signature"></div>
  <div id="maia-footer">

    <!-- maia-footer-local -->
    <div id="maia-footer-local">
      <div class="maia-aux">

          <div class="ent-footer-top">
  <div class="g-plus-wrapper">
    <div class="g-plusone" data-href="http://cloud.google.com"></div>
  </div>
  <div class="g-plus-link"><a href="https://plus.google.com/+googlecloudplatform" rel="publisher">Google+</a></div>
  <div class="search">
    <form onsumbit="return false;" class="maia-search" action="/search">
    <input name="q" placeholder="Search this site" type="text">
    <input name="hl" type="hidden" value="">
    <input name="q" type="hidden" value="site:cloud.google.com/">
    <button class="maia-button" event="autotrack-data-g" data-g-event="Footer" data-g-action="Site Search" data-g-label="Submit">
      <span class="maia-search-icon">Search</span>
    </button>
    </form>
  </div>

</div>

<div class="ent-footer-links">
  <div class="ent-footer-unit">
    <h4><a href="/why-google/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Why Google" data-g-label="Why Google">Why Google</a></h4>
    <ul>
      <li><a href="/why-google/#infrastructure" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Why Google" data-g-label="Infrastructure">Infrastructure</a></li>
      <li><a href="/why-google/#product" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Why Google" data-g-label="Product">Product</a></li>
      <li><a href="/why-google/#services" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Why Google" data-g-label="Services">Services</a></li>
      <li><a href="/why-google/#scalability" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Why Google" data-g-label="Scalability">Scalability</a></li>
      <li><a href="/why-google/#performance" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Why Google" data-g-label="Performance">Performance</a></li>
      <li><a href="/why-google/#support" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Why Google" data-g-label="Support">Support</a></li>
    </ul>
  </div>

  <div class="ent-footer-unit">
    <h4><a href="/products/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Products">Products</a></h4>
    <ul>
      <li><a href="/products/app-engine/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="App Engine">App Engine</a></li>
      <li><a href="/products/compute-engine/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Compute Engine">Compute Engine</a></li>
      <li><a href="/products/cloud-storage/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Cloud Storage">Cloud Storage</a></li>
      <li><a href="/products/cloud-sql/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Cloud SQL">Cloud SQL</a></li>
      <li><a href="/products/cloud-datastore/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Cloud Datastore">Cloud Datastore</a></li>
      <li><a href="/products/bigquery/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="BigQuery">BigQuery</a></li>
      <li><a href="/products/prediction-api/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Prediction API">Prediction API</a></li>
      <li><a href="/products/translate-api/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Translate API">Translate API</a></li>
      <li><a href="/products/cloud-endpoints/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Cloud Endpoints">Cloud Endpoints</a></li>
      <li><a href="/products/calculator/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Pricing Calculator">Pricing Calculator</a></li>
      <li><a href="/pricing/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Pricing">Pricing</a></li>
    </ul>
  </div>

  <div class="ent-footer-unit">
    <h4><a href="/solutions" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Solutions" data-g-label="Solutions">Solutions</a></h4>
    <ul>
      <li><a href="/solutions/mobile/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Solutions" data-g-label="Mobile">Mobile</a></li>
      <li><a href="/solutions/gaming/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Solutions" data-g-label="Gaming">Gaming</a></li>
      <li><a href="/solutions/hadoop/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Solutions" data-g-label="Hadoop">Hadoop</a></li>
      <li><a href="/solutions/mongodb/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Solutions" data-g-label="mongodb">MongoDB</a></li>
      <li><a href="/solutions/rabbitmq/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Solutions" data-g-label="rabbitmq">RabbitMQ</a></li>
      <li><a href="/solutions/cassandra/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Solutions" data-g-label="cassandra">Cassandra</a></li>
    </ul>
  </div>

  <div class="ent-footer-unit">
    <h4><a href="/customers/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Customers" data-g-label="Customers">Customers</a></h4>
  </div>

  <div class="ent-footer-unit">
    <h4><a href="/developers/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Developers" data-g-label="Developers">Developers</a></h4>
    <ul>
      <li><a href="/developers#documentation" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Developers" data-g-label="Documentation">Documentation</a></li>
      <li><a href="/developers#resources" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Developers" data-g-label="Resources">Resources</a></li>
    </ul>
  </div>

  <div class="ent-footer-unit">
    <h4><a href="/support/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Support" data-g-label="Support">Support</a></h4>
    <ul>
      <li><a href="https://support.google.com/" target="_blank" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Support" data-g-label="Google Cloud Platform Support Help Center">Platform Support Help Center</a></li>
      <li><a href="https://support.google.com/cloudbilling/" target="_blank" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Support" data-g-label="Google Cloud Billing Help Center">Billing Help Center</a></li>
      <li><a href="https://enterprise.google.com/supportcenter" target="_blank" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Support" data-g-label="Google Enterprise Support Center">Google Enterprise Support Center</a></li>
    </ul>

  </div>


  <div class="ent-footer-unit">
    <h4><a href="/partners/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Partners" data-g-label="Partners">Partners</a></h4>
    <ul>
      <li><a href="/partners/technology-partners/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Partners" data-g-label="Find A Technology Partner">Technology Partners</a></li>
      <li><a href="/partners/service-partners/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Partners" data-g-label="Find A Service Partner">Service Partners</a></li>
    </ul>
  </div>

  </div>
  <br class="clear" />

  </div>
  </div>
    <!-- /maia-footer-local -->

    <!-- maia-footer-global -->
    <div id="maia-footer-global">
      <div class="maia-locales">
        <select name="language" 
        onchange="var lang=this[this.selectedIndex].value;if(lang!='')
        {window.location.href=window.location.pathname + '?hl=' + lang};">>
          <option value="en" selected>English</option>
          <option value="fr" >Français</option>
          <option value="de" >Deutsch</option>
          <option value="ja" >日本語</option>
          <option value="ko" >한국어</option>
          <option value="pt-br" >Português</option>
          <option value="es" >Español</option>
          <option value="zh-tw" >中文（繁體中文）</option>
        </select>
      </div>
      <div class="maia-aux">
        <ul>
          <li><a href="http://www.google.com/">Google</a></li>
          <li><a href="https://developers.google.com/readme/terms">Terms of Service</a></li>
          <li><a href="https://www.google.com/intl/en/policies/privacy/">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /maia-footer-global -->
  <script src="//www.google.com/js/maia.js"></script>
  <script type="text/javascript" async defer src="//www.gstatic.com/feedback/api.js"></script>
  <script id="jqueryui" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
  </body>
</html>
