<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Developer Information & Resources - Google Cloud Platform</title>
    <meta charset="utf-8" />
    
      <meta description="Find specific technical information for developers with Google Cloud Platform. Trouble shoot technical hurdles and find detailed programmatic solutions.">
    
    <link rel="shortcut icon" href="/images/gcp-favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!--[if lt IE 9]>
    <script src="/js/html5.js"></script>
    <![endif]-->

    <meta name="google-site-verification" content="8dOEM3Xenm6yaBc83y2WKgqQG0iHI7Ph6Rl_YLIZLQ8" />
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">

    <!-- GSAP animation frameworks -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//www.gstatic.com/external_hosted/gsap/TweenMax.min.js"></script>
    <script src="//www.gstatic.com/external_hosted/gsap/TimelineMax.min.js"></script>
    <script src="/js/floodlight.js"></script>

    <link href="/developers/" rel="canonical">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700" rel="stylesheet">
    <link href="//www.google.com/css/maia.experimental.css" rel="stylesheet">
    <link href="/css/maia-cloud.css" rel="stylesheet"/>
    <link href="/css/default.css" rel="stylesheet">
  </head>
  <body>
  <div id="maia-header">
    <div class="maia-aux">
      <h1><a href="/"><img src="/images/gcp-logo.png" alt="Cloud Platform" data-retina="383x48"></a></h1>

<div class="search-container">
  <form action="/search" class="maia-search">
    <input type="text" placeholder="Search this site" name="q">
    <button class="maia-button" type="submit" data-g-event="Maia: Button" data-g-action="Maia: Primary – Header" data-g-label="Search">
      <span class="maia-search-icon">Search this site</span>
    </button>
  </form>
  <div class="cloud-social">

    <div class="cloud-signed-in">
      <a href="https://console.developers.google.com/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Go to my console">Go to Cloud Console</a>
    </div>

  </div>

</div>

</div>

    </div>
  </div>
  <div id="maia-nav-x" class="maia-nav">
    <div class="maia-aux">
   <div class="cp-cta">
     <a class="cp-track maia-button maia-button-secondary white-button" href="/contact/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Contact Sales" data-g-label="Global Nav: Click" >Contact Sales</a>
     
       <a class="cp-track maia-button blue-button" href="https://console.developers.google.com?getstarted=https://cloud.google.com" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Try It Now" data-g-label="Global Nav: Click" style="color: #fff;">Try it now</a>
     
   </div>
      <ul>
        <li >
            <a href="/why-google/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Why Google">
            Why Google
            </a>
        </li>
        <li  id="main-nav-product-dropdown" class="dropdown">
            <a href="/products/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Products">
            Products
            </a>
        </li>
        <li >
            <a href="/solutions/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Solutions">
            Solutions
            </a>
        </li>
        <li >
            <a href="/customers/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Customers">
            Customers
            </a>
        </li>
        <li  class="active" >
            <a href="/developers/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Developers">
          Developers
            </a>
        </li>
        <li >
            <a href="/support/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Support">
            Support
            </a>
        </li>
        <li >
            <a href="/partners/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Partners">
            Partners
            </a>
        </li>
         <li >
            <a href="http://googlecloudplatform.blogspot.com/" event="autotrack-data-g" data-g-event="Global Nav" data-g-action="Nav Bar" data-g-label="Blog">
            Blog
            </a>
        </li>
      </ul>
    </div>
  </div>

<!-- Products subnav -->
<div id="maia-nav-x" class="maia-nav products-nav">
  <div class="maia-aux">
    <div class="products-nav-dropdown maia-cols">

      <div id="compute-dropdown" class="products-column maia-col-2">
        <span class="product-list-title">Compute</span>
        <div class="dropdown-item-container">
          <a href="/products/compute-engine/">
            <span class="product-name">Compute Engine</span>
          </a>
        </div>
        <div class="dropdown-item-container">
          <a href="/products/app-engine/">
            <span class="product-name">App Engine</span>
          </a>
        </div>
      </div>

      <div id="storage-dropdown" class="products-column maia-col-2">
        <span class="product-list-title">Storage</span>
        <div class="dropdown-item-container">
          <a href="/products/cloud-sql/">
            <span class="product-name">Cloud SQL</span>
          </a>
        </div>
        <div class="dropdown-item-container">
          <a href="/products/cloud-storage/">
            <span class="product-name">Cloud Storage</span>
          </a>
        </div>
        <div class="dropdown-item-container">
          <a href="/products/cloud-datastore/">
            <span class="product-name">Cloud Datastore</span>
          </a>
        </div>
      </div>

      <div id="big-data-dropdown" class="products-column maia-col-2">
        <span class="product-list-title">Big Data</span>
        <div class="dropdown-item-container">
          <a href="/products/bigquery/">
            <span class="product-name">BigQuery</span>
          </a>
        </div>
      </div>

      <div id="services-dropdown" class="products-column maia-col-2">
        <span class="product-list-title">Services</span>
        <div class="dropdown-item-container">
          <a href="/products/cloud-dns/">
            <span class="product-name">Cloud DNS</span>
          </a>
        </div>
        <div class="dropdown-item-container">
          <a href="/products/cloud-endpoints/">
            <span class="product-name">Cloud Endpoints</span>
          </a>
        </div>
        <div class="dropdown-item-container">
          <a href="/products/translate-api/">
            <span class="product-name">Translate API</span>
          </a>
        </div>
        <div class="dropdown-item-container">
          <a href="/products/prediction-api/">
            <span class="product-name">Prediction API</span>
          </a>
        </div>
        <div class="dropdown-item-container">
          <a href="/products/cloud-pubsub/">
            <span class="product-name">Cloud Pub/Sub</span>
          </a>
        </div>
      </div>

      <div id="management-dropdown" class="products-column maia-col-2">
        <span class="product-list-title">Management</span>
        <div class="dropdown-item-container">
          <span class="product-name"><a href="/products/cloud-deployment-manager/">Cloud Deployment Manager</a></span>
        </div>
      </div>

      <div id="pricing-dropdown" class="products-column maia-col-2">
        <span class="product-list-title">Pricing</span>
        <div class="dropdown-item-container">
          <span class="product-name"><a href="/products/pricing/">Overview</a></span>
        </div>
        <div class="dropdown-item-container">
          <span class="product-name"><a href="/products/calculator/">Calculator</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-wrapper developers">
  <div class="maia-stage page-header tertiary scroll-section" data-section-label="Developers">
    <div class="maia-aux page-header-inner">
      <div class="page-header-inner-inner">
        <h1 class="headline">Developers</h1>
        <p class="subheadline">
          We’ve designed Cloud Platform to make it easy for developers to get started fast. Use this page to access a variety of resources that will help you build your application.
        </p>
        <p class="cta">
          <a href="https://developers.google.com/cloud/sdk/" class="maia-button download-sdk cp-track" id="download-body" event="autotrack-data-g" data-g-event="Developers" data-g-action="Download SDK" data-g-label="Download: Click">Download the SDK</a>
        </p>
      </div>
    </div>
  </div>

  <div id="maia-main">
    <div id="product-documentation" class="generic-section scroll-section" data-section-label="Product Documentation">
      <div class="maia-cols">
        <div class="header">
          <h2 id="documentation" class="headline maia-col-8">Product Documentation</h2>
        </div>
      </div>
      <div class="maia-cols" id="first-row">
        <!--first row-->
        <div class="inner-block maia-col-6 product">
          <div class="product-wrapper">
            <div class="icon-wrapper">
              <span class="app-icon compute-engine"></span>
            </div>
            <div class="links-wrapper">
              <h3 class="headline">Compute Engine</h3>
              <ul class="inline-list">
                <li><a href="https://developers.google.com/compute/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Comupute Engine" data-g-label="Documentation">Documentation</a>
                </li>
                <li><a href="https://developers.google.com/compute/docs/getting-started-with-compute" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Comupute Engine" data-g-label="Getting Started">Getting Started</a>
                </li>
                <li><a href="https://developers.google.com/compute/docs/samples-and-videos#samples" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Comupute Engine" data-g-label="Sample Code">Sample code</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="inner-block maia-col-6 product">
          <div class="product-wrapper">
            <div class="icon-wrapper">
              <span class="app-icon cloud-storage"></span>
            </div>
            <div class="links-wrapper">
              <h3 class="headline">Cloud Storage</h3>
              <ul class="inline-list">
                <li><a href="https://developers.google.com/storage/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Storage" data-g-label="Documentation">Documentation</a>
                </li>
                <li><a href="https://developers.google.com/storage/docs/xml-api-overview" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Storage" data-g-label="XML API">XML API</a>
                </li>
                <li><a href="https://developers.google.com/storage/docs/json_api/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Storage" data-g-label="JSON API">JSON API</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        <!--end first row-->

      <div class="maia-cols" id="second-row">
        <!--second row-->

        <div class="inner-block maia-col-6 product">
          <div class="product-wrapper">
            <div class="icon-wrapper">
              <span class="app-icon app-engine"></span>
            </div>
            <div class="links-wrapper">
              <h3 class="headline">App Engine</h3>
              <ul class="inline-list">
                <li><span>Documentation</span>
                  <a href="https://developers.google.com/appengine/docs/python/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Documentation" data-g-label="Python">Python</a>
                  <a href="https://developers.google.com/appengine/docs/java/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Documentation" data-g-label="Java">Java</a>
                  <a href="https://developers.google.com/appengine/docs/php/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Documentation" data-g-label="PHP">PHP</a>
                  <a href="https://developers.google.com/appengine/docs/go/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Documentation" data-g-label="Go">Go</a>
                </li></br>
                <li><span>Getting started</span>
                  <a href="https://developers.google.com/appengine/docs/python/gettingstartedpython27/introduction" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Getting Started" data-g-label="Python">Python</a>
                  <a href="https://developers.google.com/appengine/docs/java/gettingstarted/introduction" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Getting Started" data-g-label="Java">Java</a>
                  <a href="https://developers.google.com/appengine/docs/php/gettingstarted/introduction" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Getting Started" data-g-label="PHP">PHP</a>
                  <a href="https://developers.google.com/appengine/docs/go/gettingstarted/introduction" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Getting Started" data-g-label="Go">Go</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="inner-block maia-col-6 product">
          <div class="product-wrapper">
            <div class="icon-wrapper">
              <span class="app-icon bigquery"></span>
            </div>
            <div class="links-wrapper">
              <h3 class="headline">BigQuery</h3>
              <ul class="inline-list">
                <li><a href="https://developers.google.com/bigquery/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="BigQuery" data-g-label="Documentation">Documentation</a>
                </li></br>
                <li><span>Getting started</span>
                  <a href="https://developers.google.com/bigquery/browser-tool-quickstart" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="BigQuery" data-g-label="Browser Tool">Browser Tool</a>
                  <a href="https://developers.google.com/bigquery/bq-command-line-tool-quickstart" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="BigQuery" data-g-label="Command Line">Command Line</a>
                  <a href="https://developers.google.com/bigquery/bigquery-api-quickstart" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="BigQuery" data-g-label="API">API</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        <!--end second row-->

    <div class="maia-cols" id="third-row">
        <!--third row-->

        <div class="inner-block maia-col-6 product">
          <div class="product-wrapper">
            <div class="icon-wrapper">
              <span class="app-icon cloud-sql"></span>
            </div>
            <div class="links-wrapper">
              <h3 class="headline">Cloud SQL</h3>
              <ul class="inline-list">
                <li><a href="https://developers.google.com/cloud-sql/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud SQL" data-g-label="Documentation">Documentation</a>
                </li>
                <li><a href="https://developers.google.com/cloud-sql/docs/getting-started" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud SQL" data-g-label="Getting Started">Getting Started</a>
                </li>
                <li><a href="https://developers.google.com/cloud-sql/docs/instances" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud SQL" data-g-label="Managing Instances">Managing Instances</a>
                </li>
                <li><a href="https://developers.google.com/cloud-sql/docs/mysql-client" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud SQL" data-g-label="Using Instances">Using Instances</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="inner-block maia-col-6 product">
          <div class="product-wrapper">
            <div class="icon-wrapper">
              <span class="app-icon cloud-endpoints"></span>
            </div>
            <div class="links-wrapper">
              <h3 class="headline">Cloud Endpoints</h3>
              <ul class="inline-list">
                <li><a href="https://developers.google.com/appengine/docs/java/endpoints/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Endpoints" data-g-label="Documentation">Documentation</a>
                </li>
                <li><a href="https://developers.google.com/appengine/docs/java/endpoints/getstarted/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Endpoints" data-g-label="Getting Started">Getting Started</a>
                </li></br>
                <li><span>Using Endpoints in Clients</span>
                  <a href="https://developers.google.com/appengine/docs/java/endpoints/consume_js" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Endpoints" data-g-label="JavaScript">JavaScript</a>
                  <a href="https://developers.google.com/appengine/docs/java/endpoints/consume_android" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Endpoints" data-g-label="Android">Android</a>
                  <a href="https://developers.google.com/appengine/docs/java/endpoints/consume_ios" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Endpoints" data-g-label="iOS">iOS</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--end third row-->

      <div class="maia-cols" id="fourth-row">
          <!--fourth row-->

          <div class="inner-block maia-col-6 last-section">
          <div class="product-wrapper">
            <div class="icon-wrapper">
              <span class="app-icon cloud-datastore"></span>
            </div>
            <div class="links-wrapper">
              <h3 class="headline">Cloud Datastore</h3>
              <ul class="inline-list">
                <li><a href="https://developers.google.com/datastore/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Datastore" data-g-label="Documentation">Documentation</a>
                </li></br>
                <li><span>Getting started</span>
                  <a href="https://developers.google.com/datastore/docs/getstarted/start_nodejs/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Datastore" data-g-label="Node.js">Node.js</a>
                  <a href="https://developers.google.com/datastore/docs/getstarted/start_python/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Datastore" data-g-label="Python">Python</a>
                  <a href="https://developers.google.com/datastore/docs/getstarted/start_java/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Datastore" data-g-label="Java">Java</a>
                  <a href="https://developers.google.com/datastore/docs/getstarted/start_ruby/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Datastore" data-g-label="Ruby">Ruby</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
       </div>

      <!--end fourth row -->

    <div id="articles" class="generic-section last" data-ng-controller="CloudDevResourcesController as ctrl" data-ng-click="ctrl.tryCloseFilter($event)" data-ng-cloak>
      <div class="maia-cols">
        <div class="header maia-col-8">
          <h2 id="resources" class="headline scroll-section" data-section-label="Articles and Resources">Articles and Resources</h2>
        </div>

          <div class="filter-bar maia-col-12">
            <div class="maia-cols">
              <div class="filters maia-col-8">
                <div class="filters-inner">
                  <label class="filter-label">Filter by:</label>
                  <ul class="active-filters">
                    <li class="filter-item" data-ng-repeat="filter in ctrl.activeFilters">
                      <a data-ng-click="ctrl.toggleFilter(filter)" data-ng-bind="filter.label"></a>
                    </li>
                    <li class="filter-results placeholder" data-ng-hide="ctrl.activeFilters.length">All industries and products</li>
                  </ul>
                </div>
              </div>

              <div class="maia-col-4 filter-controls">

                <div class="clear-filters filters">
                  <a class="filters-inner clear-filters-label" data-ng-click="ctrl.clearFilters()">Clear all filters X</a>
                </div>

                <div id="filter-container" class="add-filters filters" data-ng-class="{'active':ctrl.filterDropdownActive}">
                  <label class="filters-inner add-filters-label" data-ng-click="ctrl.filterDropdownActive = !ctrl.filterDropdownActive">Add a filter +</label>
                  <div class="available-filter-container">
                    <ul class="filters-inner">
                      <li class="filter-item" data-ng-repeat="filter in ctrl.filters">
                        <a data-ng-click="ctrl.toggleFilter(filter)" data-ng-bind="filter.label" ng-class="{'active':filter.active}"></a>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>




          <div class="maia-col-12 paginator-wrapper" data-ng-show="ctrl.numPages > 0">
              <ul class="paginator-container">
                  <li class="page-item-number"><a data-ng-click="ctrl.previousPage()" data-ng-disabled="ctrl.curPage === 0">&lt;</a>
                  </li>
                  <li class="page-item-number" data-ng-repeat="page in ctrl.getPages() track by $index" data-ng-class="{active:$index===ctrl.curPage}"><a data-ng-click="ctrl.setPage($index)" data-ng-bind="$index + 1"></a>
                  </li>
                  <li class="page-item-number"><a data-ng-click="ctrl.nextPage()" data-ng-disabled="ctrl.curPage === ctrl.numPages - 1">&gt;</a>
                  </li>
              </ul>
          </div>




          <div class="cse-results maia-col-12">
            <div class="maia-cols">
              <div class="cse-result inner-block maia-col-12" data-ng-repeat="result in ctrl.results">
                <div class="maia-cols">
                  <div class="text-details-wrapper maia-col-12">
                    <a data-ng-href="{[result.link]}" class="resources-title-link" target="_blank" data-ng-bind="result.title">
                    </a>
                    <p class="published-on">Published on <a data-ng-href="{[result.displayLink]}" data-ng-bind="result.displayLink"></a></p>
                    <p data-ng-bind="result.snippet">
                    </p>
                    <a data-ng-href="{[result.link]}" class="read-more">Read more</a>
                  </div>
                </div>
              </div>
            </div>

           <div data-ng-show="!ctrl.results || !ctrl.results.length">

             <div class="clear-filters filters" data-ng-show="ctrl.ready">
               <p>No results to display.</p>
             </div>

             <div data-ng-show="!ctrl.ready" class="ajax-loader">
               <img src="/images/google-spinner.gif">
               <span>Loading...</span>
             </div>

           </div>

        </div>

         <div class="maia-col-12 paginator-wrapper" data-ng-show="ctrl.numPages > 0">
              <ul class="paginator-container">
                  <li class="page-item-number"><a data-ng-click="ctrl.previousPage()" data-ng-disabled="ctrl.curPage === 0">&lt;</a>
                  </li>
                  <li class="page-item-number" data-ng-repeat="page in ctrl.getPages() track by $index" data-ng-class="{active:$index===ctrl.curPage}"><a data-ng-click="ctrl.setPage($index)" data-ng-bind="$index + 1"></a>
                  </li>
                  <li class="page-item-number"><a data-ng-click="ctrl.nextPage()" data-ng-disabled="ctrl.curPage === ctrl.numPages - 1">&gt;</a>
                  </li>
              </ul>
          </div>

      </div>
    </div>
  </div>
</div>
<script src="//www.google.com/js/gweb/ui/lightbox.js"></script>
<script>
  var lightbox = new gweb.ui.LightBox();
  lightbox.disableNav();
  lightbox.init();
</script>


  <!-- Scripts to include both on Goro + Devsite -->
  <script type="text/javascript">
   window.___gcfg = {
     lang: ''
   };
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  </script>

  <!-- GTM implementation -->

  <!-- Start dataLayer -->
    <script>
      dataLayer = [{
        'country': '',
        'region': '',
        'language': 'en'
      }];
    </script>
  <!-- End dataLayer -->

  <!-- Start Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5CVQBG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5CVQBG');</script>
  <!-- End Google Tag Manager -->

  <!-- Global JS scripts to load; path will depend on whether we're on devsite or Goro -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>

  <script src="/js/base.min.js"></script>

<!-- Secondary right-side scroll-nav -->
<script>
  new lfl.ui.ScrollNav({});
  new lfl.cloud.GlobalProductMenu();
</script>

<script>new cloud.SocialFeeds(document.getElementById('feeds'));</script>



  <div id="maia-signature"></div>
  <div id="maia-footer">

    <!-- maia-footer-local -->
    <div id="maia-footer-local">
      <div class="maia-aux">

          <div class="ent-footer-top">
  <div class="g-plus-wrapper">
    <div class="g-plusone" data-href="https://cloud.google.com/"></div>
  </div>
  <div class="g-plus-link"><a href="https://plus.sandbox.google.com/+googlecloudplatform/posts" rel="publisher">Google+</a></div>
  <div class="search">
    <form onsumbit="return false;" class="maia-search" action="/search">
    <input name="q" placeholder="Search this site" type="text">
    <input name="hl" type="hidden" value="">
    <input name="q" type="hidden" value="site:cloud.google.com/">
    <button class="maia-button" event="autotrack-data-g" data-g-event="Footer" data-g-action="Site Search" data-g-label="Submit">
      <span class="maia-search-icon">Search</span>
    </button>
    </form>
  </div>

</div>

<div class="ent-footer-links">
  <div class="ent-footer-unit">
    <h4><a href="/why-google/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Why Google" data-g-label="Why Google">Why Google</a></h4>
    <ul>
      <li><a href="/why-google/#infrastructure" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Why Google" data-g-label="Infrastructure">Infrastructure</a></li>
      <li><a href="/why-google/#product" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Why Google" data-g-label="Product">Product</a></li>
      <li><a href="/why-google/#services" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Why Google" data-g-label="Services">Services</a></li>
      <li><a href="/why-google/#scalability" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Why Google" data-g-label="Scalability">Scalability</a></li>
      <li><a href="/why-google/#performance" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Why Google" data-g-label="Performance">Performance</a></li>
      <li><a href="/why-google/#support" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Why Google" data-g-label="Support">Support</a></li>
    </ul>
  </div>

  <div class="ent-footer-unit">
    <h4><a href="/products/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Products">Products</a></h4>
    <ul>
      <li><a href="/products/app-engine/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="App Engine">App Engine</a></li>
      <li><a href="/products/compute-engine/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Compute Engine">Compute Engine</a></li>
      <li><a href="/products/cloud-storage/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Cloud Storage">Cloud Storage</a></li>
      <li><a href="/products/cloud-sql/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Cloud SQL">Cloud SQL</a></li>
      <li><a href="/products/cloud-datastore/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Cloud Datastore">Cloud Datastore</a></li>
      <li><a href="/products/bigquery/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="BigQuery">BigQuery</a></li>
      <li><a href="/products/prediction-api/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Prediction API">Prediction API</a></li>
      <li><a href="/products/translate-api/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Translate API">Translate API</a></li>
      <li><a href="/products/cloud-endpoints/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Cloud Endpoints">Cloud Endpoints</a></li>
      <li><a href="/products/calculator/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Pricing Calculator">Pricing Calculator</a></li>
      <li><a href="/pricing/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Products" data-g-label="Pricing">Pricing</a></li>
    </ul>
  </div>

  <div class="ent-footer-unit">
    <h4><a href="/solutions/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Solutions" data-g-label="Solutions">Solutions</a></h4>
    <ul>
      <li><a href="/solutions/mobile/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Solutions" data-g-label="Mobile">Mobile</a></li>
      <li><a href="/solutions/gaming/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Solutions" data-g-label="Gaming">Gaming</a></li>
      <li><a href="/solutions/hadoop/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Solutions" data-g-label="Hadoop">Hadoop</a></li>
      <li><a href="/solutions/mongodb/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Solutions" data-g-label="mongodb">MongoDB</a></li>
      <li><a href="/solutions/rabbitmq/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Solutions" data-g-label="rabbitmq">RabbitMQ</a></li>
      <li><a href="/solutions/cassandra/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Solutions" data-g-label="cassandra">Cassandra</a></li>
    </ul>
  </div>

  <div class="ent-footer-unit">
    <h4><a href="/customers/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Customers" data-g-label="Customers">Customers</a></h4>
  </div>

  <div class="ent-footer-unit">
    <h4><a href="/developers/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Developers" data-g-label="Developers">Developers</a></h4>
    <ul>
      <li><a href="/developers/#documentation" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Developers" data-g-label="Documentation">Documentation</a></li>
      <li><a href="/developers/#resources" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Developers" data-g-label="Resources">Resources</a></li>
    </ul>
  </div>

  <div class="ent-footer-unit">
    <h4><a href="/support/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Support" data-g-label="Support">Support</a></h4>
    <ul>
      <li><a href="https://support.google.com/cloud/" target="_blank" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Support" data-g-label="Google Cloud Platform Support Help Center">Platform Support Help Center</a></li>
      <li><a href="https://support.google.com/cloudbilling/" target="_blank" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Support" data-g-label="Google Cloud Billing Help Center">Billing Help Center</a></li>
      <li><a href="https://enterprise.google.com/supportcenter/" target="_blank" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Support" data-g-label="Google for Work Support Center">Google for Work Support Center</a></li>
    </ul>

  </div>


  <div class="ent-footer-unit">
    <h4><a href="/partners/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Partners" data-g-label="Partners">Partners</a></h4>
    <ul>
      <li><a href="/partners/technology-partners/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Partners" data-g-label="Find A Technology Partner">Technology Partners</a></li>
      <li><a href="/partners/service-partners/" event="autotrack-data-g" data-g-event="Footer" data-g-action="Footer Links: Partners" data-g-label="Find A Service Partner">Service Partners</a></li>
    </ul>
  </div>

  </div>
  <br class="clear" />

  </div>
  </div>
    <!-- /maia-footer-local -->

    <!-- maia-footer-global -->
    <div id="maia-footer-global">
      <div class="maia-locales">
        <select name="language" 
        onchange="var lang=this[this.selectedIndex].value;if(lang!='')
        {window.location.href=window.location.pathname + '?hl=' + lang};">>
          <option value="en" selected>English</option>
          <option value="fr" >Français</option>
          <option value="de" >Deutsch</option>
          <option value="ja" >日本語</option>
          <option value="ko" >한국어</option>
          <option value="pt-br" >Português</option>
          <option value="es" >Español</option>
          <option value="zh-tw" >中文（繁體中文）</option>
        </select>
      </div>
      <div class="maia-aux">
        <ul>
          <li><a href="http://www.google.com/">Google</a></li>
          <li><a href="https://developers.google.com/readme/terms">Terms of Service</a></li>
          <li><a href="https://www.google.com/intl/en/policies/privacy/">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /maia-footer-global -->
  <script src="//www.google.com/js/maia.js"></script>
  <script type="text/javascript" async defer src="//www.gstatic.com/feedback/api.js"></script>
  <script id="jqueryui" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
  </body>
</html>
