{% comment %}
This document is sourced from GitHub. 
Do not change this file in a CL!
Instead, edit me at: 
https://github.com/GoogleCloudPlatformSite/GoogleCloudPlatformSite.github.io/edit/master/developers/index.html
{% endcomment %}
<!DOCTYPE html>
<html devsite>
<head>
    <title>Developer Information & Resources - Google Cloud Platform </title>

    
      <meta name="description" content="Find specific technical information for developers with Google Cloud Platform. Trouble shoot technical hurdles and find detailed programmatic solutions.">
    
</head>
<body>

<div class="site-wrapper developers">
  <div class="maia-stage page-header tertiary scroll-section" data-section-label="Developers">
    <div class="maia-aux page-header-inner">
      <div class="page-header-inner-inner">
        <h1 class="headline">Developers</h1>
        <p class="subheadline">
          We’ve designed Cloud Platform to make it easy for developers to get started fast. Use this page to access a variety of resources that will help you build your application.
        </p>
        <p class="cta">
          <a href="/sdk/" class="maia-button download-sdk cp-track" id="download-body" event="autotrack-data-g" data-g-event="Developers" data-g-action="Download SDK" data-g-label="Download: Click">Download the SDK</a>
        </p>
      </div>
    </div>
  </div>

  <div id="maia-main">
    <div id="product-documentation" class="generic-section scroll-section" data-section-label="Product Documentation">
      <div class="maia-cols">
        <div class="header">
          <h2 id="documentation" class="headline maia-col-8">Product Documentation</h2>
        </div>
      </div>
      <div class="maia-cols" id="first-row">
        <!--first row-->
        <div class="inner-block maia-col-6 product">
          <div class="product-wrapper">
            <div class="icon-wrapper">
              <span class="app-icon compute-engine"></span>
            </div>
            <div class="links-wrapper">
              <h3 class="headline">Compute Engine</h3>
              <ul class="inline-list">
                <li><a href="/compute/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Comupute Engine" data-g-label="Documentation">Documentation</a>
                </li>
                <li><a href="/compute/docs/getting-started-with-compute" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Comupute Engine" data-g-label="Getting Started">Getting Started</a>
                </li>
                <li><a href="/compute/docs/samples-and-videos#samples" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Comupute Engine" data-g-label="Sample Code">Sample code</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="inner-block maia-col-6 product">
          <div class="product-wrapper">
            <div class="icon-wrapper">
              <span class="app-icon cloud-storage"></span>
            </div>
            <div class="links-wrapper">
              <h3 class="headline">Cloud Storage</h3>
              <ul class="inline-list">
                <li><a href="/storage/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Storage" data-g-label="Documentation">Documentation</a>
                </li>
                <li><a href="/storage/docs/xml-api-overview" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Storage" data-g-label="XML API">XML API</a>
                </li>
                <li><a href="/storage/docs/json_api/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Storage" data-g-label="JSON API">JSON API</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        <!--end first row-->

      <div class="maia-cols" id="second-row">
        <!--second row-->

        <div class="inner-block maia-col-6 product">
          <div class="product-wrapper">
            <div class="icon-wrapper">
              <span class="app-icon app-engine"></span>
            </div>
            <div class="links-wrapper">
              <h3 class="headline">App Engine</h3>
              <ul class="inline-list">
                <li><span>Documentation</span>
                  <a href="/appengine/docs/python/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Documentation" data-g-label="Python">Python</a>
                  <a href="/appengine/docs/java/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Documentation" data-g-label="Java">Java</a>
                  <a href="/appengine/docs/php/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Documentation" data-g-label="PHP">PHP</a>
                  <a href="/appengine/docs/go/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Documentation" data-g-label="Go">Go</a>
                </li></br>
                <li><span>Getting started</span>
                  <a href="/appengine/docs/python/gettingstartedpython27/introduction" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Getting Started" data-g-label="Python">Python</a>
                  <a href="/appengine/docs/java/gettingstarted/introduction" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Getting Started" data-g-label="Java">Java</a>
                  <a href="/appengine/docs/php/gettingstarted/introduction" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Getting Started" data-g-label="PHP">PHP</a>
                  <a href="/appengine/docs/go/gettingstarted/introduction" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="App Engine: Getting Started" data-g-label="Go">Go</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="inner-block maia-col-6 product">
          <div class="product-wrapper">
            <div class="icon-wrapper">
              <span class="app-icon bigquery"></span>
            </div>
            <div class="links-wrapper">
              <h3 class="headline">BigQuery</h3>
              <ul class="inline-list">
                <li><a href="/bigquery/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="BigQuery" data-g-label="Documentation">Documentation</a>
                </li></br>
                <li><span>Getting started</span>
                  <a href="/bigquery/browser-tool-quickstart" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="BigQuery" data-g-label="Browser Tool">Browser Tool</a>
                  <a href="/bigquery/bq-command-line-tool-quickstart" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="BigQuery" data-g-label="Command Line">Command Line</a>
                  <a href="/bigquery/bigquery-api-quickstart" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="BigQuery" data-g-label="API">API</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        <!--end second row-->

    <div class="maia-cols" id="third-row">
        <!--third row-->

        <div class="inner-block maia-col-6 product">
          <div class="product-wrapper">
            <div class="icon-wrapper">
              <span class="app-icon cloud-sql"></span>
            </div>
            <div class="links-wrapper">
              <h3 class="headline">Cloud SQL</h3>
              <ul class="inline-list">
                <li><a href="/sql/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud SQL" data-g-label="Documentation">Documentation</a>
                </li>
                <li><a href="/sql/docs/getting-started" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud SQL" data-g-label="Getting Started">Getting Started</a>
                </li>
                <li><a href="/sql/docs/instances" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud SQL" data-g-label="Managing Instances">Managing Instances</a>
                </li>
                <li><a href="/sql/docs/mysql-client" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud SQL" data-g-label="Using Instances">Using Instances</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="inner-block maia-col-6 product">
          <div class="product-wrapper">
            <div class="icon-wrapper">
              <span class="app-icon cloud-endpoints"></span>
            </div>
            <div class="links-wrapper">
              <h3 class="headline">Cloud Endpoints</h3>
              <ul class="inline-list">
                <li><a href="/appengine/docs/java/endpoints/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Endpoints" data-g-label="Documentation">Documentation</a>
                </li>
                <li><a href="/appengine/docs/java/endpoints/getstarted/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Endpoints" data-g-label="Getting Started">Getting Started</a>
                </li></br>
                <li><span>Using Endpoints in Clients</span>
                  <a href="/appengine/docs/java/endpoints/consume_js" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Endpoints" data-g-label="JavaScript">JavaScript</a>
                  <a href="/appengine/docs/java/endpoints/consume_android" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Endpoints" data-g-label="Android">Android</a>
                  <a href="/appengine/docs/java/endpoints/consume_ios" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Endpoints" data-g-label="iOS">iOS</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--end third row-->

      <div class="maia-cols" id="fourth-row">
          <!--fourth row-->

          <div class="inner-block maia-col-6 last-section">
          <div class="product-wrapper">
            <div class="icon-wrapper">
              <span class="app-icon cloud-datastore"></span>
            </div>
            <div class="links-wrapper">
              <h3 class="headline">Cloud Datastore</h3>
              <ul class="inline-list">
                <li><a href="/datastore/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Datastore" data-g-label="Documentation">Documentation</a>
                </li></br>
                <li><span>Getting started</span>
                  <a href="/datastore/docs/getstarted/start_nodejs/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Datastore" data-g-label="Node.js">Node.js</a>
                  <a href="/datastore/docs/getstarted/start_python/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Datastore" data-g-label="Python">Python</a>
                  <a href="/datastore/docs/getstarted/start_java/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Datastore" data-g-label="Java">Java</a>
                  <a href="/datastore/docs/getstarted/start_ruby/" class="link-out" event="autotrack-data-g" data-g-event="Developers" data-g-action="Cloud Datastore" data-g-label="Ruby">Ruby</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
       </div>

      <!--end fourth row -->

    <div id="articles" class="generic-section last" data-ng-controller="CloudDevResourcesController as ctrl" data-ng-click="ctrl.tryCloseFilter($event)" data-ng-cloak>
      <div class="maia-cols">
        <div class="header maia-col-8">
          <h2 id="resources" class="headline scroll-section" data-section-label="Articles and Resources">Articles and Resources</h2>
        </div>

          <div class="filter-bar maia-col-12">
            <div class="maia-cols">
              <div class="filters maia-col-8">
                <div class="filters-inner">
                  <label class="filter-label">Filter by:</label>
                  <ul class="active-filters">
                    <li class="filter-item" data-ng-repeat="filter in ctrl.activeFilters">
                      <a data-ng-click="ctrl.toggleFilter(filter)" data-ng-bind="filter.label"></a>
                    </li>
                    <li class="filter-results placeholder" data-ng-hide="ctrl.activeFilters.length">All industries and products</li>
                  </ul>
                </div>
              </div>

              <div class="maia-col-4 filter-controls">

                <div class="clear-filters filters">
                  <a class="filters-inner clear-filters-label" data-ng-click="ctrl.clearFilters()">Clear all filters X</a>
                </div>

                <div id="filter-container" class="add-filters filters" data-ng-class="{'active':ctrl.filterDropdownActive}">
                  <label class="filters-inner add-filters-label" data-ng-click="ctrl.filterDropdownActive = !ctrl.filterDropdownActive">Add a filter +</label>
                  <div class="available-filter-container">
                    <ul class="filters-inner">
                      <li class="filter-item" data-ng-repeat="filter in ctrl.filters">
                        <a data-ng-click="ctrl.toggleFilter(filter)" data-ng-bind="filter.label" ng-class="{'active':filter.active}"></a>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>




          <div class="maia-col-12 paginator-wrapper" data-ng-show="ctrl.numPages > 0">
              <ul class="paginator-container">
                  <li class="page-item-number"><a data-ng-click="ctrl.previousPage()" data-ng-disabled="ctrl.curPage === 0">&lt;</a>
                  </li>
                  <li class="page-item-number" data-ng-repeat="page in ctrl.getPages() track by $index" data-ng-class="{active:$index===ctrl.curPage}"><a data-ng-click="ctrl.setPage($index)" data-ng-bind="$index + 1"></a>
                  </li>
                  <li class="page-item-number"><a data-ng-click="ctrl.nextPage()" data-ng-disabled="ctrl.curPage === ctrl.numPages - 1">&gt;</a>
                  </li>
              </ul>
          </div>




          <div class="cse-results maia-col-12">
            <div class="maia-cols">
              <div class="cse-result inner-block maia-col-12" data-ng-repeat="result in ctrl.results">
                <div class="maia-cols">
                  <div class="text-details-wrapper maia-col-12">
                    <a data-ng-href="{[result.link]}" class="resources-title-link" target="_blank" data-ng-bind="result.title">
                    </a>
                    <p class="published-on">Published on <a data-ng-href="{[result.displayLink]}" data-ng-bind="result.displayLink"></a></p>
                    <p data-ng-bind="result.snippet">
                    </p>
                    <a data-ng-href="{[result.link]}" class="read-more">Read more</a>
                  </div>
                </div>
              </div>
            </div>

           <div data-ng-show="!ctrl.results || !ctrl.results.length">

             <div class="clear-filters filters" data-ng-show="ctrl.ready">
               <p>No results to display.</p>
             </div>

             <div data-ng-show="!ctrl.ready" class="ajax-loader">
               <img src="/images/google-spinner.gif">
               <span>Loading...</span>
             </div>

           </div>

        </div>

         <div class="maia-col-12 paginator-wrapper" data-ng-show="ctrl.numPages > 0">
              <ul class="paginator-container">
                  <li class="page-item-number"><a data-ng-click="ctrl.previousPage()" data-ng-disabled="ctrl.curPage === 0">&lt;</a>
                  </li>
                  <li class="page-item-number" data-ng-repeat="page in ctrl.getPages() track by $index" data-ng-class="{active:$index===ctrl.curPage}"><a data-ng-click="ctrl.setPage($index)" data-ng-bind="$index + 1"></a>
                  </li>
                  <li class="page-item-number"><a data-ng-click="ctrl.nextPage()" data-ng-disabled="ctrl.curPage === ctrl.numPages - 1">&gt;</a>
                  </li>
              </ul>
          </div>

      </div>
    </div>
  </div>
</div>
<script src="//www.google.com/js/gweb/ui/lightbox.js"></script>
<script>
  var lightbox = new gweb.ui.LightBox();
  lightbox.disableNav();
  lightbox.init();
</script>


</body>
</html>
