#maia-signature
{
	margin-top: 0;
}
img.maia-media
{
	outline: none;
}
.maia-button
{
	background: #5393FA;
	border-radius: 3px;
	font-family: 'Open Sans';
	font-weight: 600;
	padding: 7px 18px;
}
.maia-button.maia-button-secondary
{
	background: #fcfcfc;
	border: 1px solid #dbdbdb;
	color: #0056CF;
	padding: 6px 17px;
}
#maia-main .maia-search .maia-button
{
	height: auto;
	padding: 5px 17px;
}
#maia-main .maia-search #search_button
{
	height: 29px;
}
.cloud-social
{
	float: right;
}
#maia-header h1 img
{
	height: auto !important;
	max-width: 100%;
}
#home-nav
{
	display: none;
}
#maia-nav-x.maia-compact ul
{
	width: 100%;
}
@media only screen and (max-width:767px)
{
	#home-nav
	{
		display: block;
	}
	#maia-nav-x .maia-button
	{
		position: relative;
		top: -11px;
	}
}
#maia-nav-x .dropdown span,#maia-nav-x .dropdown a:after
{
	display: inline-block;
	vertical-align: middle;
}
#maia-nav-x .dropdown a:before
{
	background: url("/cloud/images/base/dropdown-arrow-gray-icon.png") no-repeat bottom center;
	bottom: -12px;
	content: '';
	height: 12px;
	left: 20px;
	margin: auto;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transition: opacity .5s;
	width: 12px;
	z-index: 99;
}
#maia-nav-x .dropdown a:after
{
	background: url("/cloud/images/base/arrow.png") no-repeat;
	content: '';
	display: inline-block;
	height: 6px;
	margin-left: 4px;
	transform: rotate(180deg);
	vertical-align: middle;
	webkit-transform: rotate(180deg);
	width: 7px;
}
@media (max-width:800px)
{
	#maia-nav-x .dropdown a:after
	{
		display: none;
	}
}
#maia-nav-x .dropdown.show a:before
{
	opacity: 1;
}
#maia-nav-x .dropdown.show a:after
{
	transform: rotate(0);
	webkit-transform: rotate(0);
}
#maia-nav-x .global-nav-link .products-nav
{
	display: none;
}
#maia-nav-x .inline-button
{
	margin: 5px !important;
	position: relative;
}
#maia-nav-x .maia-button
{
	padding-left: 10px;
	padding-right: 10px;
}
#maia-nav-x .maia-button.blue-button
{
	margin-right: 5px;
	padding-bottom: 7px;
	padding-top: 7px;
	right: 120px;
}
@media (min-width:768px) and (max-width:900px)
{
	#maia-nav-x .maia-button.white-button
	{
		left: auto;
		right: 0;
		width: 90px;
	}
}
@media (min-width:768px) and (max-width:900px)
{
	#maia-nav-x .maia-button.blue-button
	{
		left: auto;
		right: 95px;
		width: 73px;
	}
}
#maia-nav-x.products-nav
{
	background-color: #fafafa;
	border-bottom: 0;
	height: 0;
	overflow: hidden;
	transition: height 1s;
	webkit-transition: height 1s;
}
#maia-nav-x .product-list-title
{
	color: #bdbdbd;
	font-weight: normal;
}
#maia-nav-x .products-nav-dropdown
{
	display: none;
}
.products-column .maia-col-2
{
	margin: 0 .7880952381% 0;
	width: 15.090476%;
}
.products-nav-dropdown .products-column
{
	border-right: 1px solid #e0e0e0;
	box-sizing: border-box;
	display: inline-block;
	height: 100%;
	padding: 10px 0;
	padding: 10px 19px;
	vertical-align: top;
}
.products-nav-dropdown .products-column:first-child
{
	padding-left: 0;
}
.products-nav-dropdown .products-column:last-child
{
	border: 0;
	padding-right: 0;
}
#maia-nav-x .products-nav-dropdown
{
	background-color: #fafafa;
	display: block;
	height: 190px;
	transition: all .4s ease-in-out;
	webkit-transition: all .4s ease-in-out;
}
@media (max-width:1070px)
{
	#maia-nav-x .products-nav-dropdown
	{
		left: 0;
	}
}
#maia-nav-x .dropdown-item-container
{
	display: block;
	margin-bottom: 10px;
}
#maia-nav-x a
{
	color: #494949;
	text-decoration: none;
}
#maia-nav-x a:hover,#maia-nav-x .list-product-name li a:hover
{
	color: #3679ec;
}
#maia-nav-x .icon-selector
{
	display: block;
}
#maia-nav-x .product-list-title
{
	display: block;
	margin-bottom: 10px;
}
#maia-nav-x .product-name,#maia-nav-x .product-logo
{
	vertical-align: middle;
}
#maia-nav-x .product-logo
{
	margin-right: 1px;
}
#maia-nav-x .list-product-name
{
	font-weight: normal;
	padding: 0;
}
#maia-nav-x.show
{
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
	display: block;
	height: 190px !important;
	transition: height 1s;
	webkit-transition: height 1s;
}
#maia-nav-x.show.products-nav
{
	height: 240px;
}
@media (max-width:800px)
{
	#maia-nav-x.show
	{
		display: none;
	}
}
.filter-bar
{
	min-height: 100%;
}
#maia-footer-local
{
	height: 400px;
}
@media only screen and (min-width:480px) and (max-width:767px)
{
	#maia-footer-local
	{
		height: auto;
	}
}
@media only screen and (max-width:479px)
{
	#maia-footer-local
	{
		height: auto;
	}
}
.ent-footer-top
{
	border-bottom: 1px dashed #e5e5e5;
	height: 40px;
	width: 100%;
}
@media only screen and (max-width:479px)
{
	.ent-footer-top
	{
		height: 100px;
	}
}
.g-plus-wrapper
{
	float: left;
}
.g-plus-link
{
	float: left;
}
.search
{
	float: right;
	max-height: 38px;
	position: relative;
}
@media only screen and (min-width:480px) and (max-width:767px)
{
	.search
	{
		float: right;
	}
}
@media only screen and (max-width:479px)
{
	.search
	{
		float: left;
	}
}
.search .maia-search input[type="text"]
{
	margin-bottom: 5px;
}
.ent-footer-links li
{
	font-size: 13px;
	margin-top: 6px;
}
@media only screen and (min-width:480px) and (max-width:767px)
{
	.ent-footer-links
	{
		width: 100%;
	}
}
@media only screen and (max-width:479px)
{
	.ent-footer-links
	{
		width: 100%;
	}
}
.ent-footer-links .ent-footer-unit
{
	display: block;
	float: left;
	width: 14%;
}
.ent-footer-links .ent-footer-unit.last
{
	margin-top: -1px;
}
.ent-footer-links .ent-footer-unit.last h4
{
	margin-top: 0;
}
.ent-footer-links .ent-footer-unit.last h4.first
{
	margin-top: 1.236em;
}
@media only screen and (min-width:480px) and (max-width:767px)
{
	.ent-footer-links .ent-footer-unit.last
	{
		margin-top: 0;
	}
}
@media only screen and (max-width:479px)
{
	.ent-footer-links .ent-footer-unit.last
	{
		margin-top: 0;
	}
}
@media only screen and (min-width:480px) and (max-width:767px)
{
	.ent-footer-links .ent-footer-unit
	{
		float: none;
		width: 100%;
	}
}
@media only screen and (max-width:479px)
{
	.ent-footer-links .ent-footer-unit
	{
		float: none;
		width: 100%;
	}
}
.ent-footer-links .ent-footer-unit ul
{
	margin-left: 0;
	margin-top: 0;
}
.ent-footer-links .ent-footer-unit ul li
{
	list-style-type: none;
	margin-bottom: 8px;
	margin-left: 0;
}
.ent-footer-links h4
{
	font-family: arial,sans-serif;
}
@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none)
{
	.search
	{
		top: 0;
	}
	.ent-footer-links .ent-footer-unit.last
	{
		margin-top: 0 !important;
	}
}
.gweb-lightbox .maia-cols
{
	margin: 0 -1.53374233129% !important;
}
.signup-box.maia-cols
{
	margin: inherit !important;
}
.gweb-lightbox .maia-col-3,.gweb-lightbox .maia-col-8
{
	margin: 0 1.4880952381% 20px !important;
}
.gweb-lightbox .signup-screen img
{
	max-width: 100% !important;
}
.gweb-lightbox #gweb-lightbox-lb-fragment
{
	height: auto !important;
}
.gweb-lightbox .gweb-lightbox-fragment
{
	height: auto !important;
}
.gweb-lightbox h2
{
	font-size: 27px !important;
	font-weight: 400 !important;
	margin: 0 0 50px;
	text-align: left !important;
}
.gweb-lightbox .signup-box
{
	margin: 10px 0 0 36px !important;
}
.gweb-lightbox .signup-box h2
{
	font-weight: inherit !important;
	margin-bottom: 8px !important;
	text-align: center !important;
}
.gweb-lightbox .gweb-lightbox-content
{
	color: #333;
	text-align: left;
}
.gweb-lightbox .signup-container
{
	padding: 30px 30px 50px;
}
.gweb-lightbox .signup-disclaimer,.gweb-lightbox .signup-num
{
	color: #d1d1d1;
}
.gweb-lightbox .signup-num
{
	padding-right: 15px;
}
.gweb-lightbox .signup-detail
{
	vertical-align: top;
	width: 80%;
}
.gweb-lightbox .signup-detail,.gweb-lightbox .signup-num
{
	display: inline-block;
}
.gweb-lightbox .signup-text
{
	height: 60px;
}
#gweb-lightbox-lb-fragment,.gweb-lightbox,.gweb-lightbox-bg,.gweb-lightbox-bg
{
	max-width: 100%;
}
@media screen,projection
{
	.gweb-lightbox *
	{
		margin: 0;
		padding: 0;
	}
	.gweb-lightbox
	{
		background: #fff;
		border: 14px solid #fff;
		box-shadow: 0 4px 16px rgba(0,0,0,.2);
		color: #000;
		font: 13px/1.4 Arial,sans-serif;
		min-height: 200px;
		min-width: 200px;
		moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
		ms-box-shadow: 0 4px 16px rgba(0,0,0,.2);
		outline: none;
		overflow: hidden;
		position: absolute;
		webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
		z-index: 9999;
	}
	.gweb-lightbox-bg
	{
		background: #666;
		background-image: -moz-radial-gradient(50% 50% 90deg,circle farthest-side,white,#4c4c4c);
		background-image: -webkit-gradient(radial,center center,125,center center,800,from(white),to(#4c4c4c));
		left: 0;
		position: fixed;
		top: 0;
		z-index: 9998;
	}
	.gweb-lightbox-loading
	{
		background: #fff url(//www.google.com/images/gweb/lightbox/loading.gif) no-repeat 50% 50%;
	}
	* html .gweb-lightbox-bg
	{
		position: absolute;
	}
	.gweb-lightbox-title
	{
		background: #fff;
		color: #666;
		cursor: pointer;
		display: block;
		font-family: 'Open Sans',arial;
		font-size: 1.2em;
		font-weight: normal;
		min-height: 18px;
	}
	.gweb-lightbox-title-text
	{
		color: #333;
		display: block;
		font-size: 1em;
		font-weight: bold;
		padding: 0 31px 5px 0;
	}
	*+html .gweb-lightbox-title-text
	{
		width: 100%;
	}
	.gweb-lightbox-title-text span
	{
		font-weight: normal;
		padding: 0 8px;
	}
	.gweb-lightbox-title-close
	{
		color: #666;
		cursor: pointer;
		display: block;
		font-size: 20px;
		font-weight: bold;
		line-height: .9;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
	}
	.gweb-lightbox-title-close:hover
	{
		color: #333;
	}
	.gweb-lightbox-content
	{
		display: block;
		margin: 0;
		min-height: 200px;
		min-width: 200px;
		overflow: hidden;
		padding: 0;
		position: relative;
		text-align: center;
	}
	.gweb-lightbox img
	{
		border: 0;
	}
	.gweb-lightbox-content img
	{
		border: 0;
		display: block;
		margin: 0 auto;
		padding: 0;
	}
	* html .gweb-lightbox-content img
	{
		margin: 0;
	}
	*+html .gweb-lightbox-content img
	{
		margin: 0;
	}
	.gweb-lightbox-fragment,.gweb-lightbox-content iframe
	{
		background: #fff;
	}
	.gweb-lightbox-caption
	{
		color: #666;
		margin: 0;
		padding: 8px 0 3px;
		position: relative;
		text-align: left;
	}
	.gweb-lightbox-caption.gweb-lightbox-hide
	{
		display: none;
		height: 0;
		padding: 0;
	}
	.gweb-lightbox-caption.gweb-lightbox-overlay
	{
		background: rgba(50,50,50,.8);
		bottom: 0;
		color: #fff;
		padding: 3px 15px;
		position: absolute;
	}
	.gweb-lightbox-nav
	{
		border: 0;
		cursor: pointer;
		display: block;
		margin: 0;
		outline: none;
		padding: 0;
		position: absolute;
		text-decoration: none !important;
		top: 0;
		width: 35%;
		z-index: 1000 !important;
	}
	.gweb-lightbox-next
	{
		right: 0;
		text-align: right;
	}
	.gweb-lightbox-prev
	{
		left: 0;
		text-align: left;
	}
	.gweb-lightbox-next span
	{
		right: 0;
	}
	.gweb-lightbox-nav span
	{
		background: #fff;
		color: #666;
		display: block;
		font-size: 2em;
		font-weight: normal;
		moz-transition: all 150ms ease-out;
		position: absolute;
		top: 48%;
		transition: all 150ms ease-out;
		visibility: visible;
		webkit-transition: all 150ms ease-out;
	}
	.gweb-lightbox-prev span
	{
		border-radius: 0 3px 3px 0;
		moz-border-radius: 0 3px 3px 0;
		padding: 3px 8px 3px 3px;
		webkit-border-radius: 0 3px 3px 0;
	}
	.gweb-lightbox-next span
	{
		border-radius: 3px 0 0 3px;
		moz-border-radius: 3px 0 0 3px;
		padding: 3px 3px 3px 8px;
		webkit-border-radius: 3px 0 0 3px;
	}
	.gweb-lightbox-nav:hover span
	{
		color: #333;
		padding: 3px 10px;
		visibility: visible !important;
	}
	.gweb-lightbox.gweb-lightbox-outside-nav
	{
		overflow: visible;
	}
	.gweb-lightbox-outside-nav .gweb-lightbox-content
	{
		overflow: hidden;
	}
	.gweb-lightbox-outside-nav iframe
	{
		overflow: hidden;
	}
	.gweb-lightbox-outside-nav .gweb-lightbox-nav
	{
		overflow: hidden;
		width: 60px !important;
	}
	* html .gweb-lightbox-outside-nav .gweb-lightbox-nav
	{
		overflow: visible;
	}
	*+html .gweb-lightbox-outside-nav .gweb-lightbox-nav
	{
		overflow: visible;
		text-align: left;
	}
	.gweb-lightbox-outside-nav .gweb-lightbox-nav.gweb-lightbox-next
	{
		float: right;
		right: -60px;
	}
	* html .gweb-lightbox-outside-nav .gweb-lightbox-nav.gweb-lightbox-next
	{
		text-align: right;
	}
	.gweb-lightbox-outside-nav .gweb-lightbox-nav.gweb-lightbox-prev
	{
		float: left;
		left: -60px;
	}
	.gweb-lightbox-outside-nav .gweb-lightbox-nav span
	{
		padding: 3px 10px;
		top: 40%;
		visibility: visible;
	}
	.gweb-lightbox-outside-nav .gweb-lightbox-nav.gweb-lightbox-prev span
	{
		border-radius: 3px 0 0 3px;
		box-shadow: -13px 4px 16px rgba(0,0,0,.1);
		left: auto;
		moz-border-radius: 3px 0 0 3px;
		moz-box-shadow: -13px 4px 16px rgba(0,0,0,.1);
		ms-box-shadow: -13px 4px 16px rgba(0,0,0,.1);
		right: 0;
		webkit-border-radius: 3px 0 0 3px;
		webkit-box-shadow: -13px 4px 16px rgba(0,0,0,.1);
	}
	* html .gweb-lightbox-outside-nav .gweb-lightbox-nav.gweb-lightbox-prev span
	{
		left: 20px !important;
		right: auto;
	}
	.gweb-lightbox-outside-nav .gweb-lightbox-nav.gweb-lightbox-next span
	{
		border-radius: 0 3px 3px 0;
		box-shadow: 12px 4px 16px rgba(0,0,0,.1);
		left: 0;
		moz-border-radius: 0 3px 3px 0;
		moz-box-shadow: 12px 4px 16px rgba(0,0,0,.1);
		ms-box-shadow: 12px 4px 16px rgba(0,0,0,.1);
		right: auto !important;
		webkit-border-radius: 0 3px 3px 0;
		webkit-box-shadow: 12px 4px 16px rgba(0,0,0,.1);
	}
	* html .gweb-lightbox-outside-nav .gweb-lightbox-nav.gweb-lightbox-next span
	{
		left: auto;
		right: 20px !important;
	}
	.gweb-lightbox-outside-nav .gweb-lightbox-nav.gweb-lightbox-prev:hover span
	{
		right: 10px;
	}
	.gweb-lightbox-outside-nav .gweb-lightbox-nav.gweb-lightbox-next:hover span
	{
		left: 10px;
	}
	.rtl .gweb-lightbox-next
	{
		left: 0;
		right: auto;
		text-align: right;
	}
	.rtl .gweb-lightbox-next span
	{
		border-radius: 0 3px 3px 0;
		left: 0;
		moz-border-radius: 0 3px 3px 0;
		padding: 3px 8px 3px 3px;
		right: auto !important;
		webkit-border-radius: 0 3px 3px 0;
	}
	.rtl .gweb-lightbox-prev
	{
		left: auto;
		right: 0;
		text-align: left;
	}
	.rtl .gweb-lightbox-prev span
	{
		border-radius: 3px 0 0 3px;
		left: auto !important;
		moz-border-radius: 3px 0 0 3px;
		padding: 3px 3px 3px 8px;
		right: 0;
		webkit-border-radius: 3px 0 0 3px;
	}
	.rtl .gweb-lightbox-nav:hover span
	{
		padding: 3px 10px !important;
		visibility: visible !important;
	}
	.rtl .gweb-lightbox-title-close
	{
		left: 0 !important;
		right: auto;
	}
	.rtl .gweb-lightbox-title-text
	{
		padding: 0 0 5px 31px;
	}
	.rtl .gweb-lightbox-caption
	{
		text-align: right;
	}
	.rtl .gweb-lightbox-outside-nav .gweb-lightbox-nav.gweb-lightbox-next
	{
		float: left;
		left: -60px !important;
		right: auto;
	}
	.rtl .gweb-lightbox-outside-nav .gweb-lightbox-nav.gweb-lightbox-prev
	{
		float: right;
		right: -60px;
	}
	.rtl .gweb-lightbox-outside-nav .gweb-lightbox-prev span
	{
		border-radius: 0 3px 3px 0;
		box-shadow: 10px 7px 20px rgba(0,0,0,.1);
		left: auto;
		moz-border-radius: 0 3px 3px 0;
		moz-box-shadow: 10px 7px 20px rgba(0,0,0,.1);
		ms-box-shadow: 10px 7px 20px rgba(0,0,0,.1);
		padding: 3px 8px 3px 3px;
		right: 30px !important;
		webkit-border-radius: 0 3px 3px 0;
		webkit-box-shadow: 10px 7px 20px rgba(0,0,0,.1);
	}
	.rtl .gweb-lightbox-outside-nav .gweb-lightbox-next span
	{
		border-radius: 3px 0 0 3px;
		box-shadow: -10px 7px 20px rgba(0,0,0,.1);
		left: 30px !important;
		moz-border-radius: 3px 0 0 3px;
		moz-box-shadow: -10px 7px 20px rgba(0,0,0,.1);
		ms-box-shadow: -10px 7px 20px rgba(0,0,0,.1);
		padding: 3px 3px 3px 8px;
		right: auto !important;
		webkit-border-radius: 3px 0 0 3px;
		webkit-box-shadow: -10px 7px 20px rgba(0,0,0,.1);
	}
	.rtl .gweb-lightbox-outside-nav .gweb-lightbox-nav.gweb-lightbox-prev:hover span
	{
		right: 20px !important;
	}
	.rtl .gweb-lightbox-outside-nav .gweb-lightbox-nav.gweb-lightbox-next:hover span
	{
		left: 20px !important;
	}
}
html
{
	webkit-font-smoothing: antialiased;
}
[ng\:cloak],[ng-cloak],.ng-cloak
{
	display: none !important;
}
a:visited
{
	color: #245dc1;
}
.site-wrapper
{
	font-family: 'Open Sans';
}
.site-wrapper p,.site-wrapper a.read-more
{
	font-family: 'Arial';
}
.inline-icon
{
	height: 32px;
	margin-right: 20px;
	vertical-align: middle;
}
.featr-txt
{
	margin: 0;
}
table
{
	font-family: 'Arial';
}
table td,table th
{
	line-height: 1.35em;
	padding: 7px 23px;
	text-align: center;
}
table th
{
	vertical-align: bottom;
}
table td
{
	padding-bottom: 10px;
	padding-top: 10px;
}
#maia-main table,.pricing-table th,.pricing-table td,#maia-main table td,#maia-main table th
{
	border: 1px solid #eee !important;
}
@media only screen and (max-width:767px)
{
	#maia-main table td,#maia-main table th
	{
		padding: 10px 0;
	}
}
.bounce-link
{
	font-weight: 600;
}
.bounce-link:hover
{
	text-decoration: none;
}
.bounce-link:after
{
	background-image: url('/cloud/images/sprite-s8753ea6266.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	content: ' ';
	display: inline;
	display: inline-block;
	display: -moz-inline-stack;
	height: 23px;
	margin-left: 7px;
	vertical-align: auto;
	vertical-align: middle;
	width: 23px;
	zoom: 1;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.bounce-link:after
	{
		background-image: url('/cloud/images/sprite_2x-s7220d7a5b8.png');
		background-position: 0 0;
		background-size: 23px,auto;
	}
}
.link-out
{
	font-weight: 600;
}
.link-out:after
{
	background-image: url('/cloud/images/sprite-s8753ea6266.png');
	background-position: 0 -43px;
	background-repeat: no-repeat;
	content: ' ';
	display: inline;
	display: inline-block;
	display: -moz-inline-stack;
	height: 11px;
	margin-left: 7px;
	vertical-align: auto;
	vertical-align: middle;
	width: 10px;
	zoom: 1;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.link-out:after
	{
		background-image: url('/cloud/images/sprite_2x-s7220d7a5b8.png');
		background-position: 0 -43px;
		background-size: 23px,auto;
	}
}
.link-out.white:after
{
	background-image: url('/cloud/images/sprite-s8753ea6266.png');
	background-position: 0 -74px;
	background-repeat: no-repeat;
	height: 10px;
	width: 10px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.link-out.white:after
	{
		background-image: url('/cloud/images/sprite_2x-s7220d7a5b8.png');
		background-position: 0 -74px;
		background-size: 23px,auto;
	}
}
.image-wrapper
{
	display: inline;
	display: inline-block;
	display: -moz-inline-stack;
	line-height: 0;
	vertical-align: auto;
	vertical-align: middle;
	zoom: 1;
}
.image-wrapper img
{
	display: block;
	max-width: 100%;
}
.link-list
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.link-list li
{
	margin-bottom: 7px;
}
.link-list a
{
	font-weight: 600;
}
.link-list a:hover
{
	text-decoration: none;
}
.page-header.maia-stage
{
	text-align: center;
}
.page-header .maia-aux
{
	display: inline;
	display: inline-block;
	display: -moz-inline-stack;
	margin: 0 14.55357px;
	text-align: left;
	vertical-align: auto;
	vertical-align: middle;
	width: 978px;
	zoom: 1;
}
@media only screen and (max-width:767px)
{
	.page-header .headline span
	{
		display: block;
	}
}
@media only screen and (min-width:768px) and (max-width:977px)
{
	.page-header .maia-aux
	{
		max-width: 90%;
		width: auto;
	}
	.page-header .page-header-inner .page-header-inner-inner
	{
		margin-left: -7.5px !important;
	}
}
@media only screen and (min-width:480px) and (max-width:767px)
{
	.page-header .maia-aux
	{
		max-width: 90%;
		width: auto;
	}
	.page-header .page-header-inner .page-header-inner-inner
	{
		margin-left: -7.5px !important;
	}
}
@media only screen and (max-width:479px)
{
	.page-header .maia-aux
	{
		max-width: 90%;
		width: auto;
	}
	.page-header .page-header-inner .page-header-inner-inner
	{
		margin-left: -7.5px !important;
	}
}
.page-header .maia-aux .small
{
	font-size: 11px;
	font-weight: bold;
}
.page-header
{
	background: no-repeat center center;
	background-image: url(/cloud/images/products/products-header.jpg);
	background-size: cover;
	color: #fff;
	display: table;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.35em;
	padding-left: 30px;
	position: relative;
	vertical-align: middle;
	width: 100%;
}
.page-header:after
{
	content: '';
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	height: 100%;
	left: 0;
	opacity: .6;
	position: absolute;
	top: 0;
	width: 100%;
}
.page-header p
{
	font-family: 'Open Sans';
}
.page-header a
{
	color: #fff !important;
	font-weight: 600;
}
.page-header .page-header-inner
{
	display: table-cell;
	position: relative;
	width: 100%;
	z-index: 1;
}
.page-header .page-header-inner .page-header-inner-inner
{
	margin: auto;
	max-width: 1008px;
}
.page-header .page-header-inner .page-header-inner-inner h1,.page-header .page-header-inner .page-header-inner-inner h2,.page-header .page-header-inner .page-header-inner-inner p
{
	max-width: 750px;
}
.page-header .cta
{
	font-family: 'Arial';
	font-size: 13px;
	margin-bottom: 0;
	margin-top: 20px;
}
.page-header .cta .try-it
{
	margin-right: 4px;
}
.page-header
{
	height: 200px;
	max-height: 200px;
	padding-bottom: 0;
	padding-top: 0;
}
.page-header.secondary
{
	height: 270px;
	max-height: 270px;
}
.page-header.primary
{
	height: 334px;
	max-height: 334px;
}
@media only screen and (max-width:977px)
{
	.page-header
	{
		height: auto !important;
		padding: 20px 10px 20px 20px;
	}
}
.page-header .headline
{
	color: #fff;
	font-size: 41px;
	font-weight: 300;
	margin: 0;
	margin-bottom: .2em;
	margin-top: -.3em;
}
.page-header .headline span
{
	vertical-align: middle;
}
.page-header .subheadline
{
	font-size: 18px;
}
.page-header .main-block
{
	margin-top: 10px;
}
.page-header .main-block .maia-button
{
	margin-top: 20px;
}
.page-header .side-block
{
	border-left: 1px solid #fff;
	color: #fff;
	font-family: 'Arial';
	font-size: 13px;
	line-height: 19px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-top: 20px;
}
@media only screen and (min-width:480px) and (max-width:767px)
{
	.page-header .side-block
	{
		border-left: 0;
		padding-left: 0;
	}
}
@media only screen and (max-width:479px)
{
	.page-header .side-block
	{
		border-left: 0;
		padding-left: 0;
	}
}
.page-header .side-block p
{
	font-family: 'Arial';
	margin-bottom: 0;
}
.generic-section
{
	border-bottom: 1px solid #ddd;
	display: inline;
	display: inline-block;
	display: -moz-inline-stack;
	margin-bottom: 18px;
	margin-top: 32px;
	padding-bottom: 66px;
	vertical-align: auto;
	vertical-align: middle;
	width: 100%;
	zoom: 1;
}
.generic-section:last-child,.generic-section .last
{
	border: 0;
}
.generic-section .header
{
	display: inline;
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: auto;
	vertical-align: middle;
	width: 100%;
	zoom: 1;
}
.generic-section .headline
{
	font-size: 27px;
	font-weight: 400;
}
.inner-block
{
	padding-bottom: 30px;
}
.inner-block .headline,.inner-block .headline a
{
	font-size: 19px;
	font-weight: 400;
	margin-top: 0;
}
.inner-block .headline a
{
	vertical-align: middle;
}
.resource-block .headline,.resource-block .headline a
{
	font-size: 13px;
	font-weight: 600;
}
.resource-block .headline
{
	margin: 0;
}
.resource-block .subheadline
{
	color: #999;
	font-family: 'Open Sans';
	margin: 0;
}
.resource-block .details p
{
	font-family: 'Open Sans';
	margin: 0;
}
.icon,.app-icon
{
	display: inline;
	display: inline-block;
	display: -moz-inline-stack;
	margin-right: .5em;
	vertical-align: auto;
	vertical-align: middle;
	zoom: 1;
}
.icon.check,.check.app-icon
{
	background-image: url('/cloud/images/sprite-s8753ea6266.png');
	background-position: 0 -104px;
	background-repeat: no-repeat;
	height: 23px;
	overflow: hidden;
	text-align: left;
	text-indent: -119988px;
	width: 23px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.icon.check,.check.app-icon
	{
		background-image: url('/cloud/images/sprite_2x-s7220d7a5b8.png');
		background-position: 0 -104px;
		background-size: 23px,auto;
	}
}
.app-icon
{
	margin-right: 7px;
}
.app-icon.app-engine
{
	background-image: url('/cloud/images/products/sprite-s4fa3b1c658.png');
	background-position: 0 -106px;
	background-repeat: no-repeat;
	height: 50px;
	width: 55px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.app-icon.app-engine
	{
		background-image: url('/cloud/images/products/sprite_2x-s7db37e7f78.png');
		background-position: 0 -108px;
		background-size: 54px,auto;
	}
}
.app-icon.compute-engine
{
	background-image: url('/cloud/images/products/sprite-s4fa3b1c658.png');
	background-position: 0 -325px;
	background-repeat: no-repeat;
	height: 50px;
	width: 55px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.app-icon.compute-engine
	{
		background-image: url('/cloud/images/products/sprite_2x-s7db37e7f78.png');
		background-position: 0 -216px;
		background-size: 54px,auto;
	}
}
.app-icon.cloud-sql
{
	background-image: url('/cloud/images/products/sprite-s4fa3b1c658.png');
	background-position: 0 -436px;
	background-repeat: no-repeat;
	height: 50px;
	width: 55px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.app-icon.cloud-sql
	{
		background-image: url('/cloud/images/products/sprite_2x-s7db37e7f78.png');
		background-position: 0 -270px;
		background-size: 54px,auto;
	}
}
.app-icon.cloud-datastore
{
	background-image: url('/cloud/images/products/sprite-s4fa3b1c658.png');
	background-position: 0 -380px;
	background-repeat: no-repeat;
	height: 51px;
	width: 55px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.app-icon.cloud-datastore
	{
		background-image: url('/cloud/images/products/sprite_2x-s7db37e7f78.png');
		background-position: 0 -378px;
		background-size: 54px,auto;
	}
}
.app-icon.cloud-dns
{
	display: none;
}
.app-icon.cloud-storage
{
	background-image: url('/cloud/images/products/sprite-s4fa3b1c658.png');
	background-position: 0 -546px;
	background-repeat: no-repeat;
	height: 50px;
	width: 55px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.app-icon.cloud-storage
	{
		background-image: url('/cloud/images/products/sprite_2x-s7db37e7f78.png');
		background-position: 0 -432px;
		background-size: 54px,auto;
	}
}
.app-icon.bigquery
{
	background-image: url('/cloud/images/products/sprite-s4fa3b1c658.png');
	background-position: 0 -271px;
	background-repeat: no-repeat;
	height: 49px;
	width: 54px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.app-icon.bigquery
	{
		background-image: url('/cloud/images/products/sprite_2x-s7db37e7f78.png');
		background-position: 0 -162px;
		background-size: 54px,auto;
	}
}
.app-icon.cloud-endpoints
{
	background-image: url('/cloud/images/products/sprite-s4fa3b1c658.png');
	background-position: 0 -491px;
	background-repeat: no-repeat;
	height: 50px;
	width: 55px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.app-icon.cloud-endpoints
	{
		background-image: url('/cloud/images/products/sprite_2x-s7db37e7f78.png');
		background-position: 0 -324px;
		background-size: 54px,auto;
	}
}
.app-icon.translate-api
{
	background-image: url('/cloud/images/products/sprite-s4fa3b1c658.png');
	background-position: 0 -161px;
	background-repeat: no-repeat;
	height: 50px;
	width: 55px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.app-icon.translate-api
	{
		background-image: url('/cloud/images/products/sprite_2x-s7db37e7f78.png');
		background-position: 0 0;
		background-size: 54px,auto;
	}
}
.app-icon.prediction-api
{
	background-image: url('/cloud/images/products/sprite-s4fa3b1c658.png');
	background-position: 0 -216px;
	background-repeat: no-repeat;
	height: 50px;
	width: 55px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.app-icon.prediction-api
	{
		background-image: url('/cloud/images/products/sprite_2x-s7db37e7f78.png');
		background-position: 0 -54px;
		background-size: 54px,auto;
	}
}
.icon.flex,.flex.app-icon
{
	background-image: url('/cloud/images/home/sprite-s8ff637626e.png');
	background-position: 0 -78px;
	background-repeat: no-repeat;
	height: 23px;
	width: 23px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.icon.flex,.flex.app-icon
	{
		background-image: url('/cloud/images/home/sprite_2x-s316a8dc7a4.png');
		background-position: 0 -43px;
		background-size: 28px,auto;
	}
}
.icon.reliability,.reliability.app-icon
{
	background-image: url('/cloud/images/home/sprite-s8ff637626e.png');
	background-position: 0 -43px;
	background-repeat: no-repeat;
	height: 15px;
	width: 24px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.icon.reliability,.reliability.app-icon
	{
		background-image: url('/cloud/images/home/sprite_2x-s316a8dc7a4.png');
		background-position: 0 -123px;
		background-size: 28px,auto;
	}
}
.icon.security,.security.app-icon
{
	background-image: url('/cloud/images/home/sprite-s8ff637626e.png');
	background-position: 0 -202px;
	background-repeat: no-repeat;
	height: 16px;
	width: 24px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.icon.security,.security.app-icon
	{
		background-image: url('/cloud/images/home/sprite_2x-s316a8dc7a4.png');
		background-position: 0 -202px;
		background-size: 28px,auto;
	}
}
.icon.speed,.speed.app-icon
{
	background-image: url('/cloud/images/home/sprite-s8ff637626e.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 23px;
	width: 20px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.icon.speed,.speed.app-icon
	{
		background-image: url('/cloud/images/home/sprite_2x-s316a8dc7a4.png');
		background-position: 0 0;
		background-size: 28px,auto;
	}
}
.icon.usability,.usability.app-icon
{
	background-image: url('/cloud/images/home/sprite-s8ff637626e.png');
	background-position: 0 -165px;
	background-repeat: no-repeat;
	height: 17px;
	width: 22px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.icon.usability,.usability.app-icon
	{
		background-image: url('/cloud/images/home/sprite_2x-s316a8dc7a4.png');
		background-position: 0 -86px;
		background-size: 28px,auto;
	}
}
.icon.support,.support.app-icon
{
	background-image: url('/cloud/images/home/sprite-s8ff637626e.png');
	background-position: 0 -121px;
	background-repeat: no-repeat;
	height: 24px;
	width: 28px;
}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3 / 2),(min-device-pixel-ratio:1.5)
{
	.icon.support,.support.app-icon
	{
		background-image: url('/cloud/images/home/sprite_2x-s316a8dc7a4.png');
		background-position: 0 -158px;
		background-size: 28px,auto;
	}
}
.tabbable
{
	display: inline-block;
	width: 100%;
}
.tabbable *
{
	box-sizing: border-box;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}
.tabbable .nav
{
	list-style: none;
	margin: 0;
	margin-bottom: -1px;
}
.tabbable .nav .nav-tab-link
{
	border: 1px solid #e0e0e0;
	border-right-width: 0;
	display: block;
	font-weight: 600;
	padding: 10px 15px;
}
.tabbable .nav .nav-tab
{
	display: inline-block;
}
.tabbable .nav .nav-tab.active .nav-tab-link,.tabbable .nav .nav-tab.active .nav-tab-link:hover,.tabbable .nav .nav-tab.active .nav-tab-link:active
{
	background: #f0f0f0;
	color: gray;
	text-decoration: none;
}
.tabbable .nav .nav-tab:first-child .nav-tab-link
{
	border-radius: 3px 0 0 0;
}
.tabbable .nav .nav-tab:last-child .nav-tab-link
{
	border-radius: 0 3px 0 0;
	border-right-width: 1px;
}
.tabbable.vertical .nav
{
	float: left;
	height: 100%;
	margin: 0;
	margin-right: -145px;
	position: relative;
	width: 145px;
	z-index: 2;
}
.tabbable.vertical .nav .nav-tab-link
{
	border-bottom-width: 0;
	border-left-width: 0;
	border-radius: 0;
	border-right-width: 1px;
	font-weight: 400;
	line-height: 1.4em;
	padding: 10px 15px;
}
.tabbable.vertical .nav .nav-tab
{
	background: #fefefe;
	display: block;
}
.tabbable.vertical .nav .nav-tab:first-child .nav-tab-link
{
	border-radius: 0;
	border-top-width: 0;
}
.tabbable.vertical .nav .nav-tab:last-child .nav-tab-link
{
	border-bottom-width: 1px;
	border-radius: 0;
}
.tab-content
{
	background: #fbfbfb;
	border: 1px solid #e0e0e0;
	border-radius: 0 3px 3px 3px;
	display: inline-block;
	float: left;
	width: 100%;
}
.tabbable.vertical .tab-content
{
	background: rgba(0,0,0,0);
	border: 0;
	border-radius: 0;
	padding-left: 145px;
}
.ajax-loader
{
	font-size: 18px;
	font-weight: 400;
	margin: 20px auto;
	text-align: center;
}
.ajax-loader span
{
	display: inline-block;
	vertical-align: middle;
}
.ajax-loader img
{
	margin-right: 6px;
	vertical-align: middle;
	width: 26px;
}
.filter-bar
{
	background-color: #fafafa;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	font-family: Arial;
	margin-bottom: 0;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}
.filter-bar ul
{
	display: inline;
	margin: 0;
}
.filter-bar .placeholder
{
	color: #ababab;
	padding: 3px 10px;
}
.filter-bar .maia-col-1,.filter-bar .maia-col-2,.filter-bar .maia-col-4,.filter-bar .maia-col-8,.filter-bar .maia-col-10,.filter-bar .maia-col-12
{
	margin-bottom: 0 !important;
}
.filter-bar .filters
{
	margin-bottom: 0;
}
.filter-bar .filters-inner
{
	box-sizing: border-box;
	display: block;
	height: 100%;
	moz-box-sizing: border-box;
	padding: 10px 16px 0 16px;
	webkit-box-sizing: border-box;
}
.filter-bar .filters-inner .filter-list
{
	margin-bottom: 10px;
}
.filter-bar .filter-label
{
	display: inline-block;
	padding: 3px 0;
}
.filter-bar .filter-controls
{
	margin-bottom: 0;
	position: relative;
}
.filter-bar .add-filters,.filter-bar .clear-filters
{
	border-left: 1px solid #ccc;
	float: right;
}
.filter-bar .add-filters .add-filters-label,.filter-bar .clear-filters .clear-filters-label,.filter-bar .available-filter-container .available-filters-close
{
	color: #3679EC;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
}
.filter-bar .add-filters .add-filters-label:hover,.filter-bar .clear-filters .clear-filters-label:hover,.filter-bar .available-filter-container .available-filters-close:hover
{
	text-decoration: none;
}
.filter-bar .add-filters .add-filters-label,.filter-bar .clear-filters .clear-filters-label
{
	padding: 14px 16px;
}
.filter-bar .available-filter-container
{
	background: #fafafa;
	border: 1px solid #ccc;
	box-sizing: border-box;
	display: none;
	margin: 0 -2px 0 0;
	moz-box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 100%;
	webkit-box-sizing: border-box;
	width: 100%;
	z-index: 998;
}
.filter-bar .available-filter-container .available-filters-headline
{
	font-family: 'Open Sans';
	font-size: 15px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 8px;
	margin-left: 5px;
}
.filter-bar .available-filter-container .available-filters-close
{
	float: right;
}
.filter-bar .active .available-filter-container
{
	display: block;
}
.filter-bar .filter-item,.filter-bar .placeholder
{
	display: inline-block;
}
.filter-bar .active-filters .filter-item,.filter-bar .active-filters .placeholder
{
	margin: 0 5px;
}
.filter-bar .available-filter-container .filter-item
{
	margin: 4px 2px;
}
.filter-bar .filter-item a
{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 12px;
	color: #3679ec;
	cursor: pointer;
	display: inline-block;
	font-family: Arial;
	font-size: 10px;
	font-weight: 400;
	padding: 2px 6px;
}
.filter-bar .active .available-filter-container .filter-item a.active,.filter-bar .active .available-filter-container .filter-item a:hover,.filter-bar .active .available-filter-container .filter-item a:focus
{
	background-color: #f9f9f9;
	text-decoration: none;
}
.filter-bar .active .available-filter-container .filter-item a.active
{
	background-color: #f5f5f5;
	color: #bcbcbc;
}
@media only screen and (max-width:767px)
{
	.filter-bar .add-filters,.filter-bar .clear-filters
	{
		border-left: 0;
		float: none;
	}
}
.filter-bar.map-version .add-filters .add-filters-label,.filter-bar.map-version .clear-filters .clear-filters-label
{
	border: 1px solid transparent;
	border-bottom: 0;
	bottom: -1px;
	padding: 10px 8px;
	position: relative;
	z-index: 999;
}
.filter-bar.map-version .add-filters.active .add-filters-label
{
	background: #eee;
	border-color: #ccc;
}
.filter-bar.map-version .filters-inner
{
	padding: 4px 8px;
}
.filter-bar.map-version .clear-filters,.filter-bar.map-version .add-filters
{
	border: 0;
}
.filter-bar.map-version .clear-filters .clear-filters-label
{
	padding-right: 0;
}
.filter-bar.map-version .location-filter
{
	padding-right: 0;
}
.filter-bar.map-version .location-filter label
{
	margin-right: 3px;
}
.filter-bar.map-version .location-filter input
{
	width: 60px;
}
.filter-bar.map-version .location-filter,.filter-bar.map-version .filter-controls
{
	display: inline-block;
	vertical-align: middle;
}
.filter-bar.map-version .filter-controls
{
	float: right;
	margin-top: 2px;
}
.filter-bar.map-version .google-map
{
	height: 320px;
}
.filter-bar.map-version .available-filter-container
{
	background: #eee;
	border-left: 0;
	border-right: 0;
	position: relative;
	top: auto;
}
.filter-bar.map-version .active-filters,.filter-bar.map-version .map-lock
{
	margin-bottom: 5px;
}
.paginator-container .page-item-number
{
	cursor: pointer;
	display: inline-block;
	list-style-type: none;
	margin-left: 15px;
}
.paginator-container .page-item-number.active a,.paginator-container .page-item-number a[disabled]
{
	color: #000;
	cursor: default;
	text-decoration: none;
}
#partners .paginator-container,.case-studies .paginator-container
{
	float: right;
	margin-right: 0;
}
.paginator-wrapper
{
	margin-top: 10px;
	text-align: right;
}
pre.prettyprint
{
	border: none !important;
}
.line-enumerator
{
	color: #a1a1a1;
	font-family: 'Arial';
	list-style-type: none;
	margin: 0;
	padding: 10px 15px;
	text-align: right;
}
.line-enum-container,pre.prettyprint,code.prettyprint
{
	float: left;
}
.line-enum-container
{
	background: #e2e2e2;
	border: 1px solid #e0e0e0;
	margin-right: 20px;
}
.product .tabbable.vertical .nav .nav-tab-link
{
	border-right: none;
}
.product .bigquery .tabbable.vertical .nav .nav-tab-link
{
	border-right: 1px solid #e0e0e0;
}
.product .lang-pane-hor
{
	margin-bottom: -22px;
	overflow: auto;
}
.product .lang-pane
{
	margin-bottom: -28px;
}
.bq-result-bar-wrapper
{
	padding-left: 100px;
	width: 100%;
}
.bq-result-label
{
	position: absolute;
	width: 100px;
}
.token-results .bq-result-bar-wrapper
{
	padding-left: 150px;
}
.token-results .bq-result-label
{
	width: 150px;
}
.bq-result-bar-wrapper,.bq-result-label
{
	margin-bottom: 10px;
}
.bq-result-wrapper
{
	border-left: 1px solid #ececec;
	max-width: 90%;
}
.bq-result-bar
{
	background-color: #a8a8a8;
	height: 1.5em;
	position: relative;
	transition: width .5s ease-in-out;
	webkit-transition: width .5s ease-in-out;
	width: 0;
}
.bq-result-count
{
	left: 100%;
	margin-left: .5em;
	position: absolute;
}
.bigquery #demo h4
{
	margin-bottom: 20px;
	margin-top: 0;
}
@media screen and (max-width:768px)
{
	.bigquery #demo
	{
		display: none;
	}
}
.bigquery .pane-content-container
{
	padding: 30px;
}
.bigquery .bq-demo-section
{
	margin-top: 20px;
}
.bigquery .bq-demo-section:first-child
{
	margin-top: 0;
}
.bigquery .field
{
	display: inline-block;
	margin-bottom: 8px;
	margin-right: 12px;
}
.bigquery .field label,.bigquery .field input,.bigquery .field textarea
{
	display: block;
}
.bigquery .field label
{
	margin-bottom: 6px;
}
.bigquery .field select
{
	border: 1px solid #aaa;
	display: inline;
	height: 34px;
}
.bigquery .field input,.bigquery .field textarea,.bigquery .field select
{
	padding: 7px 10px;
}
.bigquery .field.start-time input,.bigquery .field.end-time input
{
	width: 55px;
}
.bigquery .results
{
	border-top: 1px solid #e0e0e0;
	margin-top: 27px;
	padding-top: 27px;
}
.bigquery .token-code
{
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	overflow: auto;
}
.bigquery pre
{
	margin: 12px 0 0 0;
}
.bigquery .spearman-corr-legend
{
	background-image: linear-gradient(to right,#ff7a7a 0,#fff 50%,#c2dfff 100%);
	background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#ff7a7a),color-stop(.5,#fff),color-stop(1,#c2dfff) );
	background-image: -webkit-gradient(linear,left top,right top,from(#ff7a7a),color-stop(50%,#fff),to(#c2dfff));
	background-image: -webkit-linear-gradient(left,#ff7a7a 0,#fff 50%,#c2dfff 100%);
	background-image: -webkit-linear-gradient(right,#ff7a7a 0,#fff 50%,#c2dfff 100%);
	height: 10px;
	width: 100%;
}
.bigquery .token-results
{
	max-width: 100%;
}
.bigquery .spearman-details
{
	position: relative;
}
.bigquery .spearman-low
{
	position: absolute;
	text-align: left;
	width: 100%;
}
.bigquery .spearman-med
{
	position: absolute;
	text-align: center;
	width: 100%;
}
.bigquery .spearman-high
{
	position: absolute;
	text-align: right;
	width: 100%;
}
.bigquery .line-enum-container
{
	padding-bottom: 12px;
}
.bigquery .num-forks .bq-result-count
{
	width: 100px;
}
.bigquery .spearman-corr-key,.bigquery .spearman-corr-labels
{
	height: 20px;
	margin-bottom: 0 !important;
}
@media (max-width:767px)
{
	.bq-result-bar
	{
		max-width: 0;
	}
}
@media (max-width:530px)
{
	.bigquery .spearman-corr-key
	{
		display: none;
	}
}
.ie .product.bigquery #demo
{
	display: none;
}
.demo-container
{
	background: #fbfbfb;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	padding: 30px;
}
.demo-container .field
{
	display: inline-block;
	margin-right: 12px;
}
.demo-container .field label,.demo-container .field input,.demo-container .field textarea,.demo-container .field select
{
	display: block;
}
.demo-container .field label
{
	margin-bottom: 6px;
}
.demo-container .field select
{
	border: 1px solid #aaa;
	height: 34px;
}
.demo-container .field input,.demo-container .field textarea,.demo-container .field select
{
	padding: 7px 10px;
}
.demo-container .results
{
	border-top: 1px solid #e0e0e0;
	margin-top: 27px;
	padding-top: 27px;
}
.demo-container pre
{
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	overflow: auto;
	padding: 6px 10px;
}
.scroll-nav-container
{
	bottom: 0;
	margin: auto 0;
	position: fixed;
	right: 2em;
	top: 0;
	z-index: 99;
}
@media only screen and (min-width:768px) and (max-width:977px)
{
	.scroll-nav-container
	{
		display: none;
	}
}
@media only screen and (min-width:480px) and (max-width:767px)
{
	.scroll-nav-container
	{
		display: none;
	}
}
@media only screen and (max-width:479px)
{
	.scroll-nav-container
	{
		display: none;
	}
}
.scroll-nav-item-container
{
	height: 7px;
	margin-top: 16px;
	position: relative;
	width: 7px;
}
.scroll-nav-item-container:nth-child(1)
{
	margin-top: 0;
}
.scroll-nav-item
{
	background-color: #e3e3e3;
	border-radius: 50%;
	cursor: pointer;
	height: 7px;
	o-border-radius: 50%;
	transition: all .15s ease-in-out 0;
	webkit-transition: all .15s ease-in-out;
	webkit-transition-delay: 0;
	width: 7px;
}
.scroll-nav-item-label
{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	font-weight: bold;
	opacity: 0;
	padding: 4px 8px;
	pointer-events: none;
	position: absolute;
	right: 25px;
	top: -10px;
	transition: opacity .15s ease-in-out 0,background-color .15s ease-in-out 0;
	webkit-transition: opacity .15s ease-in-out,background-color .15s ease-in-out;
	webkit-transition-delay: 0,0;
}
.scroll-nav-item-label:after
{
	border: solid transparent;
	border-width: 6px;
	content: " ";
	height: 0;
	left: 100%;
	margin-top: -6px;
	pointer-events: none;
	position: absolute;
	top: 50%;
	width: 0;
}
.focus .scroll-nav-item-label
{
	background-color: #e3e3e3;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
.focus .scroll-nav-item-label:after
{
	border-left-color: #e3e3e3;
}
.active .scroll-nav-item
{
	background-color: #6c6c6c;
}
.active.focus .scroll-nav-item-label
{
	background-color: #6c6c6c;
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
.active.focus .scroll-nav-item-label:after
{
	border-left-color: #6c6c6c;
}
.customer.blossomio .side-section p
{
	overflow: hidden;
	text-overflow: ellipsis;
}
.scroll-nav-container
{
	bottom: 0;
	margin: auto 0;
	position: fixed;
	right: 2em;
	top: 0;
}
@media only screen and (min-width:768px) and (max-width:977px)
{
	.scroll-nav-container
	{
		display: none;
	}
}
@media only screen and (min-width:480px) and (max-width:767px)
{
	.scroll-nav-container
	{
		display: none;
	}
}
@media only screen and (max-width:479px)
{
	.scroll-nav-container
	{
		display: none;
	}
}
.scroll-nav-item-container
{
	height: 7px;
	margin-top: 16px;
	position: relative;
	width: 7px;
}
.scroll-nav-item-container:nth-child(1)
{
	margin-top: 0;
}
.scroll-nav-item
{
	background-color: #e3e3e3;
	border-radius: 50%;
	cursor: pointer;
	height: 7px;
	o-border-radius: 50%;
	width: 7px;
}
.scroll-nav-item-label
{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	font-weight: bold;
	opacity: 0;
	padding: 4px 8px;
	position: absolute;
	right: 25px;
	text-align: center;
	top: -10px;
	white-space: nowrap;
}
.scroll-nav-item-label:after
{
	border: solid transparent;
	border-width: 6px;
	content: " ";
	height: 0;
	left: 100%;
	margin-top: -6px;
	pointer-events: none;
	position: absolute;
	top: 50%;
	width: 0;
}
.focus .scroll-nav-item-label
{
	background-color: #e3e3e3;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
.focus .scroll-nav-item-label:after
{
	border-left-color: #e3e3e3;
}
.active .scroll-nav-item
{
	background-color: #6c6c6c;
}
.active.focus .scroll-nav-item-label
{
	background-color: #6c6c6c;
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
.active.focus .scroll-nav-item-label:after
{
	border-left-color: #6c6c6c;
}
.blogspot-post
{
	display: inline-block;
	vertical-align: top;
	width: 45%;
}
.blogspot-post:nth-of-type(1)
{
	margin-right: 40px;
}
@media only screen and (max-width:767px)
{
	.blogspot-post
	{
		padding-bottom: 20px;
		width: auto;
	}
}
#feeds .social-title
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;
}
#feeds .post-header
{
	float: left;
	margin: 2px 0 0 0;
}
#feeds .post-header-contents
{
	display: none;
}
#feeds
{
	font-family: 'Arial';
	padding-bottom: 60px;
}
#feeds .date
{
	color: #999;
}
#feeds a.social-more
{
	font-weight: 600;
}
.post-header:before
{
	background-size: 32px;
	content: '';
	display: inline-block;
	height: 32px;
	margin-right: 10px;
	vertical-align: middle;
	width: 32px;
}
.blogspot-post .post-header:before
{
	background-image: url('/cloud/images/home/blogger.png');
}
.youtube .post-header:before
{
	background-image: url('/cloud/images/home/youtube.png');
}
#feeds .post-title.headline
{
	font-family: Arial;
	font-size: 13px;
	font-weight: 600;
	margin: .918em 0 .618em 0;
}
.post-link
{
	display: block;
	font-weight: 600;
	margin: 10px 0;
}
.post-details
{
	margin-top: 10px;
}
.post-header-contents
{
	display: inline-block;
	vertical-align: middle;
}
.home .page-header
{
	background-image: url(/cloud/images/home/home-hero.jpg);
}
.home .page-header .headline
{
	vertical-align: middle;
}
.home .apps-list
{
	margin-left: -60px;
}
.home .apps-list li
{
	display: inline;
	display: inline-block;
	display: -moz-inline-stack;
	margin-left: 50px;
	vertical-align: auto;
	vertical-align: middle;
	zoom: 1;
}
.home .generic-section
{
	padding-bottom: 40px;
}
.home .generic-section .section-footer
{
	margin-top: 32px;
}
.home #applications
{
	text-align: center;
}
.home #applications .headline
{
	color: #999;
	font-size: 12px;
	margin-bottom: 23px;
	margin-top: 0;
}
.home #advantages .read-more
{
	font-weight: 600;
}
.home #community .header
{
	margin-bottom: 20px;
}
.home #community .link-list
{
	margin-left: -32px;
	margin-top: 15px;
}
.home #community .link-list li
{
	display: inline;
	display: inline-block;
	display: -moz-inline-stack;
	margin-left: 32px;
	vertical-align: auto;
	vertical-align: middle;
	zoom: 1;
}
.home #community .link-list a
{
	font-weight: 400;
}
.home #community input#email
{
	margin-bottom: 0;
	margin-right: 5px;
	vertical-align: middle;
}
.home .customer-stories .subheadline
{
	color: #848484;
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 300;
}
.home .read-more
{
	font-weight: 600;
}
.home .case-study-role
{
	color: #999;
	margin-left: 10px;
}
.announcement-section.generic-section .headline
{
	margin-top: 4px;
}
.announcement-section .ce-image
{
	margin-top: 10px;
	text-align: center;
}
.announcement-section .ce-image img
{
	width: 206px;
}
.announcement-section .headline a
{
	color: #444;
	text-decoration: none;
}
@media only screen and (max-width:767px)
{
	.ce-image
	{
		display: none;
	}
}
.solutions .page-header
{
	background-image: url(/cloud/images/solutions/solutions-header.jpg);
}
.solutions #case-studies .wrapper
{
	margin-bottom: 40px;
}
.solutions #case-studies
{
	padding-bottom: 0;
}
.solutions #case-studies .section-thumb
{
	text-align: right;
}
@media (max-width:480px)
{
	.solutions #case-studies .section-thumb
	{
		text-align: center;
	}
}
.solutions #case-studies .section-thumb img
{
	display: inline-block;
}
.solutions #case-studies .solutions-headline
{
	font-family: Open Sans;
	font-size: 28px;
	font-weight: 300;
	margin-top: 0;
}
.solutions #case-studies .solutions-subheadline
{
	color: #adadad;
	font-family: Open Sans;
	font-size: 16px;
	margin-bottom: 20px;
	margin-top: -15px;
}
.solutions #case-studies .read-more
{
	color: #3679ec;
	font-weight: 600;
	position: relative;
	top: 10px;
}
.solutions #case-studies .wrapper .maia-col-5
{
	float: right !important;
	width: 38.6904761905% !important;
}
.solutions #case-studies .wrapper .maia-col-7
{
	clear: none;
	float: left !important;
	width: 55.3571428571% !important;
}
@media (max-width:480px)
{
	.solutions #case-studies .wrapper .maia-col-5
	{
		float: none !important;
		width: 100% !important;
	}
	.solutions #case-studies .wrapper .maia-col-7
	{
		clear: both;
		float: none !important;
		width: 100% !important;
	}
}
.solution-details.hadoop .page-header
{
	background-image: url(/cloud/images/solutions/hadoop/hadoop-header.jpg);
}
.solution-details.mobile .page-header
{
	background-image: url(/cloud/images/solutions/mobile/mobile-header.jpg);
}
.solution-details.gaming .page-header
{
	background-image: url(/cloud/images/solutions/gaming/gaming-header.jpg);
}
.solution-details.mongodb .page-header
{
	background-image: url(/cloud/images/solutions/solutions-header.jpg);
}
.solution-details.rabbitmq .page-header
{
	background-image: url(/cloud/images/solutions/solutions-header.jpg);
}
.solution-details.cassandra .page-header
{
	background-image: url(/cloud/images/solutions/solutions-header.jpg);
}
.solution-details #customers .author-image
{
	border: 1px solid #dbdbdb;
}
.solution-details .generic-section .headline
{
	margin-bottom: 1.25em;
	margin-top: 0;
}
.solution-details .generic-section .subheadline
{
	font-family: 'open sans';
	font-size: 18px;
	font-weight: 400;
	margin-top: 0;
}
.solution-details .icon-item
{
	box-sizing: border-box;
	moz-box-sizing: border-box;
	padding-left: 46px;
	position: relative;
	webkit-box-sizing: border-box;
}
.solution-details .icon-item .icon-item-headline
{
	font-family: arial;
	margin-bottom: .2em;
	margin-top: 0;
}
.solution-details .icon-item .icon
{
	left: 0;
	margin-top: 1px;
	max-width: 33px;
	position: absolute;
}
.solution-details ul.benefits
{
	list-style: none;
	margin-left: 0;
	margin-top: 25px;
}
.solution-details .benefits .icon-item
{
	margin-top: 1em;
}
.solution-details ul.resource-list
{
	list-style: none;
	margin: 0;
}
.solution-details .resource-list li
{
	margin-bottom: 1em;
}
.solution-details .resource-list a
{
	font-family: arial;
	font-weight: 600;
}
.solution-details .quote-block .badge
{
	text-align: center;
}
.solution-details .quote-block .badge .subheadline
{
	margin-top: .5em;
}
.solution-details .quote-block .details-wrapper p:first-child
{
	margin-top: 0;
}
.solution-details .quote-block .details
{
	font-family: 'open sans';
	font-size: 16px;
	font-weight: 400;
}
.solution-details .quote-block .quote .author
{
	font-size: 13px;
	font-weight: 600;
	margin-right: .25em;
}
.solution-details .quote-block .quote .title
{
	color: #999;
	font-size: 13px;
	font-style: italic;
}
.solution-details #maia-main .overlay
{
	background-image: url("/cloud/images/solutions/gaming/play-button-icon.png");
}
.solution-details #maia-main .image-right,.developers #training-center .image-right,.developers-training .image-right
{
	background-image: url("/cloud/images/solutions/gaming/bsb.jpg");
}
.solution-details #maia-main .image-left,.developers #training-center .image-left,.developers-training .image-left
{
	background-image: url("/cloud/images/solutions/gaming/dog.jpg");
}
.developers-training .image-left.app-engine-architecture
{
	background-image: url("http://img.youtube.com/vi/QJp6hmASstQ/0.jpg");
	border: 1px solid #e5e5e5;
}
.developers-training .image-left.managing-your-app
{
	background-image: url("http://img.youtube.com/vi/hQLSoIAC-lk/0.jpg");
	border: 1px solid #e5e5e5;
}
