{% raw %}{% comment %}{% endraw %}
This document is sourced from GitHub. Edit me at: 
https://github.com/GoogleCloudPlatformSite/GoogleCloudPlatformSite.github.io/edit/master/{{ page.path }}
{% raw%}{% endcomment %}{% endraw %}
<!DOCTYPE html>
<html devsite>
<head>
    <title>{{page.title}}</title>
    {% if page.description %}
      <meta description="{{page.description}}">
    {% else %}
      <meta description="Google Cloud Platform lets you build and host applications and websites, store data, and analyze data on Google's scalable infrastructure.">
    {% endif %}
</head>
<body>
{{ content }}
</body>
</html>
