{% raw %}{% comment %}{% endraw %}
This document is sourced from GitHub. 
Do not change this file in a CL!
Instead, edit me at: 
https://github.com/GoogleCloudPlatformSite/GoogleCloudPlatformSite.github.io/edit/master/{{ page.path }}
{% raw%}{% endcomment %}{% endraw %}
<!DOCTYPE html>
<html devsite>
<head>
    <title>{{page.title}} {{page.id}}</title>

    {% if page.description %}
      <meta name="description" content="{{page.description}}">
    {% else %}
      <meta name="description" content="Google Cloud Platform lets you build and host applications and websites, store data, and analyze data on Google's scalable infrastructure.">
    {% endif %}
</head>
<body>

{{ content }}

</body>
</html>
