{% raw %}{% comment %}{% endraw %}
This document is sourced from GitHub. 
Do not change this file in a CL!
Instead, edit me at: 
https://github.com/GoogleCloudPlatformSite/GoogleCloudPlatformSite.github.io/edit/master/{{ page.path }}
{% raw%}{% endcomment %}{% endraw %}
<!DOCTYPE html>
<html devsite>
<head>
    <title>{{page.title}} {{page.id}}</title>

    {% if page.description %}
      <meta description="{{page.description}}">
    {% else %}
      <meta description="Google Cloud Platform lets you build and host applications and websites, store data, and analyze data on Google's scalable infrastructure.">
    {% endif %}

    <meta name="hide_page_heading" value="true" />
    <meta name="full_width" value="true" />
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">

    <link href="/css/default.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <link rel="stylesheet" media="screen" href='/c/cp-ie.css'>
    <![endif]-->

    <!-- GSAP animation frameworks -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//www.gstatic.com/external_hosted/gsap/TweenMax.min.js"></script>
    <script src="//www.gstatic.com/external_hosted/gsap/TimelineMax.min.js"></script>
</head>
<body>

{{ content }}

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>
<script src="/js/base.min.js"></script>
<script>
  new lfl.ui.ScrollNav({});
  // new lfl.cloud.GlobalProductMenu();
</script>
{% if page.feeds %}
  <script>new cloud.SocialFeeds(document.getElementById('feeds'));</script>
{% endif %}
<script src="/js/floodlight.js"></script>
</body>
</html>
